{% extends 'base.html.twig' %}

{% block title %}Compte-rendu de l'APL {{compteRendu.saison.nom}} de la structure {{compteRendu.structure.nom}}{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5">
        <h1>Compte-rendu de l'APL {{compteRendu.saison.nom}} de la structure {{compteRendu.structure.nom}} {{ include('components/status_compte_rendu.html.twig', {'compteRendu': compteRendu}) }}</h1>
    </div>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message | raw }}
        </div>
    {% endfor %}
    <div class="">
        {% if compteRendu.naPasEuLieu %}
            <div class="alert alert-warning text-center">
                <p>Cette APL n'a pas eu lieu</p>
                {% if (workflow_has_marked_place(compteRendu, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_PAS_D_INSTANCE')) and is_granted(constant('App\\Security\\Voter\\StructureVoter::VALIDER'), compteRendu.structure))
                    or (workflow_has_marked_place(compteRendu, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_SAISON_PASSEE')) and is_granted(constant('App\\Security\\Voter\\StructureVoter::MODIFIER_APRES_VALIDATION'), compteRendu.structure)) %}
                <a class="btn btn-warning" href="{{ path('saisie_cr_apl_sla', { 'compteRendu': compteRendu.id }) }}">Renseigner le Compte-rendu</a>
            {% endif %}
            </div>
        {% else %}
            <!-- Informations générales -->
            <div class="my-3">
                <h6 class="titre-section">Informations générales</h6>
                <div class="contenu-section">
                    <div class="row">
                        <div class="col text-center" >   
                            <div class ="container vstack">
                                {% if compteRendu.dateFinInstance is not null %}
                                    
                                    <span class="fw-bold text-primary text-center col">Dates de l'instance</span>       
                                    <div class="row d-block my-2 "> Du  
                                        {% if compteRendu.dateInstance %}
                                            <span class="px-3 mx-auto  text-primary border bg-light rounded-pill">{{ compteRendu.dateInstance|format_datetime(pattern="d/MM/y", locale='fr')}} </span> 
                                        {% else %}
                                            <span class="fw-lighter fst-italic text-warning">Non renseigné</span> 
                                        {% endif %}  
                                        <span> au </span>
                                        {% if compteRendu.dateFinInstance %}
                                            <span class="px-3 mx-auto  text-primary border bg-light rounded-pill">{{ compteRendu.dateFinInstance|format_datetime(pattern="d/MM/y", locale='fr')}} </span> 
                                        {% else %}
                                            <span class="fw-lighter fst-italic text-warning">Non renseigné</span> 
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <span class="fw-bold text-primary text-center col">Date de l'instance</span>       
                                    {% if compteRendu.dateInstance %}
                                        <span class="px-3 my-2 mx-auto  text-primary border bg-light rounded-pill">{{ compteRendu.dateInstance|format_datetime(pattern="d/MM/y", locale='fr')}} </span> 
                                    {% else %}
                                        <span class="fw-lighter fst-italic text-warning">Non renseigné</span> 
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="vr px-0 my-2"></div>
                        <div class="col text-center">
                            <div class ="container vstack">
                                {% if compteRendu.nombreVotantsTotal > 0 %}
                                    <span class="fw-bold text-primary text-center col">Nombre total de votant·es</span>
                                    <span class="px-3 my-2 mx-auto text-primary border bg-light rounded-pill">{{ compteRendu.nombreVotantsTotal}}</span>
                                {% else %}
                                    <span class="fw-bold text-primary text-center col">Nombre maximal de votant·es</span>
                                    <span class="px-3 my-2 mx-auto text-primary border bg-light rounded-pill">{{ compteRendu.nombreVotantsMaximal}}</span>
                                    <span class="fw-lighter fst-italic text-warning">Ce nombre change selon les votes</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- On insère une ligne horizontale -->
                    <div class="row m-0">
                        <hr class="mb-1">
                    </div>
                    <div class="row">
                        <div id="representantEchelonSuperieur" class="col text-center my-0">
                            <div class ="container vstack">
                                <span class="fw-bold text-primary text-center col">
                                        {% if compteRendu.type == constant('App\\Entity\\CompteRenduInstance::TYPE_APL_SLA') %}
                                            Représentant·e(s) de l'échelon régional
                                        {% else %}
                                            Représentant·e(s) de l'échelon national
                                        {% endif %}
                                </span>
                                {% for representantEchelonSuperieur in compteRendu.representantsEchelonSuperieur %}
                                        <span class="px-3 my-2 mx-auto text-primary border bg-light rounded-pill">{{representantEchelonSuperieur.prenom}} {{representantEchelonSuperieur.nom}}</span>                   
                                {% else %}
                                    <span class="fw-lighter fst-italic text-warning">Personne n'était présent</span>             
                                {% endfor %}
                            </div>
                        </div>
                        {% if compteRendu.autonomieStructure %}
                            <div class="vr px-0 my-2"></div>
                            <div class="col text-center">
                                <span class="fw-bold text-primary text-center col">
                                    Autonomie de la structure apres validation
                                </span> 
                                <div>
                                    {% if compteRendu.autonomieStructure == constant('App\\Entity\\Structure::STATUT_STRUCTURE_AUTONOME') %} 
                                        <span class="badge rounded-pill bg-primary">Autonome</span>
                                    {% else %}  
                                        <span class="badge rounded-pill bg-warning">Rattachée</span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Nombre de votants -->
            {% if compteRendu.nombreVotantsTotal is null  %}
                <div class="my-3" id="nbVotantsSpecifiques">
                    <h6 class="titre-section">Nombre de votant·es</h6>
                    <div class="contenu-section">
                        {% set nombreColonnes = 5 %}
                        {% for key, nombreVotantsSpecifique in compteRendu.nombreVotantsSpecifiques %}
                            {% if key % nombreColonnes == 0 %}
                                {% if key > 0 %} 
                            <div class="row mt-2"><hr class="my-0"></div><!-- ligne horizontale -->
                                {% endif %}
                            <div class="row"> <!-- On ouvre une nouvelle row -->
                                {{ include('components/_nombreVotantsSpecifique.html.twig', { 'nombreVotantsSpecifique': nombreVotantsSpecifique}) }}
                            {% else %}
                                <div class="vr px-0 my-2"></div> <!-- ligne verticale -->
                                {{ include('components/_nombreVotantsSpecifique.html.twig', { 'nombreVotantsSpecifique': nombreVotantsSpecifique}) }}
                            {% endif %}
                            {% if key == (compteRendu.nombreVotantsSpecifiques | length -1) %} <!-- s'il s'agit de la dernière instance-->
                                <!-- On ferme la row en cours-->
                            </div>
                            {% elseif key % nombreColonnes == (nombreColonnes - 1) %}
                            <!-- On ferme la row -->
                            </div>
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <!-- Compte rendu des votes -->
            <div class="my-3">
                <h6 class="titre-section">Compte-rendu des votes</h6>
                <div class="contenu-section">
                    
                    {% for key, voteInstance in compteRendu.votesInstances %}
                        {% if key % 2 == 0 %}
                            {% if key > 0 %} <!-- On insère une ligne horizontale -->
                                <div class="row m-0">
                                    <hr class="mb-1">
                                </div>
                            {% endif %}
                            <!-- On rajoute une ligne -->
                        <div class="row">
                            <div class="col d-flex flex-row align-items-center flex-wrap">
                                <div class="container text-center col">
                                    <span class="mb-1 fw-bold text-primary text-center col">{{voteInstance.type}}</span>
                                    {{ include('components/_vote.html.twig', { 'vote': voteInstance.vote, 'nombreVotants': compteRendu.nombreVotantsPourCategorie(voteInstance.type)}) }} 
                                </div>
                            </div>
                            {% if key == (compteRendu.votesInstances | length -1) %} <!-- s'il s'agit de la dernière instance-->
                                </div><!-- On ferme la row -->
                            {% endif %}
                        {% else %}
                            <div class="vr px-0 my-2"></div><!-- On rajoute une ligne verticale -->
                            <div class="col d-flex flex-row align-items-center flex-wrap">
                                <div class="container text-center col">
                                    <span class="mb-1 fw-bold text-primary text-center col">{{voteInstance.type}}</span>
                                    {{ include('components/_vote.html.twig', { 'vote': voteInstance.vote, 'nombreVotants': compteRendu.nombreVotantsPourCategorie(voteInstance.type)}) }} 
                                </div>
                            </div>
                        </div><!-- On ferme la row -->
                        {% endif %}
                    {% endfor %}

                </div>
            <div>
            <!-- Compte rendu des élections --> 
            <div class="my-3">
                <h6 class="titre-section">Compte-rendu des élections</h6>
                <div class="contenu-section">
                    <div class="row">
                        <div class="col">
                            {% for key, electionNominative in compteRendu.electionsNominatives %}
                                {% if key > 0 %} <!-- On insère une ligne horizontale -->
                                    <div class="row m-0">
                                        <hr class="my-0">
                                    </div>
                                {% endif %}
                                <!-- On rajoute une ligne -->
                                <div class="row text-center">
                                    <span class="fw-bold text-primary text-center ">{{electionNominative.poste}}</span>
                                    {{ include('components/_electionNominative.html.twig', { 'electionNominative': electionNominative}) }} 
                                </div><!-- On ferme la row -->
                            {% endfor %}
                        </div>
                        <div class="vr px-0 my-2"></div>
                        <div class="col text-center">
                            <span class="fw-bold text-primary text-center col">Equipe de groupe</span>
                            {{ include('components/_electionEquipe.html.twig', { 'electionEquipe': compteRendu.electionEquipe}) }}  
                        </div>
                    </div>
                </div>
            </div>
            <!-- Documents --> 
            <div class="my-3">
                <h6 class="titre-section">Documents</h6>
                <div class="contenu-section">
                    <div class="row">
                        <div class="col text-center">
                            <div class="container vstack">
                                <span class="fw-bold text-primary text-center col">Rapport d'activités</span>
                                {{ include('components/_document.html.twig', {'document': compteRendu.rapportActivites}) }}  
                            </div>        
                        </div>
                        <div class="vr px-0 mt-2"></div>
                        <div class="col text-center">
                            <div class="container vstack">
                                <span class="fw-bold text-primary text-center col">Rapport financier</span>    
                                {{ include('components/_document.html.twig', {'document': compteRendu.rapportFinancier}) }}  
                            </div> 
                        </div>
                        <div class="vr px-0 mt-2"></div>
                        <div class="col text-center">
                            <div class="container vstack">
                                <span class="fw-bold text-primary text-center col">Rapport moral</span>
                                {{ include('components/_document.html.twig', {'document': compteRendu.rapportMoral}) }}   
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <hr class="my-0">
                    </div>
                    <div class="row py-2">
                        <div class="col text-center">
                            <div class="container vstack">
                                <span class="fw-bold text-primary text-center col">Plan d'action local</span>
                                {{ include('components/_document.html.twig', {'document': compteRendu.planAction}) }}  
                            </div>
                        </div>
                        <div class="vr px-0"></div>
                        <div class="col text-center">
                            <div class="container vstack">
                                <span class="fw-bold text-primary text-center col">Budget prévisionnel</span> 
                                {{ include('components/_document.html.twig', {'document': compteRendu.budgetPrevisionnel}) }}   
                            </div>        
                        </div>
                        <div class="vr px-0"></div>
                        <div class=" col text-center ">
                            <div class="container vstack">
                                <span class="fw-bold text-primary text-center">Projet pédagogique</span>
                                {{ include('components/_document.html.twig', {'document': compteRendu.projetPedagogique}) }}  
                            </div>            
                        </div>
                    </div>
                    <div class="row m-0">
                        <hr class="my-0">
                    </div>
                    <div class="row py-2">
                        <div class="col text-center">
                            <div class="container vstack">
                                <span class="fw-bold text-primary text-center col">Calendrier</span>
                                {{ include('components/_document.html.twig', {'document': compteRendu.calendrierPrevisionnel}) }}  
                            </div>         
                        </div>
                        <div class="vr px-0 mb-2"></div>
                        <div class="col text-center">
                            <div class="container vstack">
                                <span class="fw-bold text-primary text-center col">Liste d'émargement</span>
                                {{ include('components/_document.html.twig', {'document': compteRendu.listeEmargement}) }}   
                            </div>
                        </div>
                        <div class="vr px-0 mb-2"></div>
                        <div class="col text-center">
                            <div class="container vstack">
                                <span class="fw-bold text-primary text-center col">Règles de fonctionnement</span>
                                {{ include('components/_document.html.twig', {'document': compteRendu.fonctionnementStructure}) }}  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Autres documents -->
            <div class="my-3">
                <h6 class="titre-section">Autres documents</h6>
                <div class="contenu-section text-center">
                    {% if compteRendu.autresDocuments | length > 0 %}
                    {{ include('components/_liste_dynamique_lignes_colonnes.html.twig', {
                        'nombreColonnes': 3,
                        'liste_items': compteRendu.autresDocuments,
                        'path_template_twig':'components/_autre_document.html.twig',
                    }) }}
                    {% else %}
                        <span class="fw-lighter fst-italic text-warning">Pas d'autres documents</span>
                    {% endif %}
                </div>
            </div>

            <!-- Commentaire sur la tenue de l'instance élective --> 
            <div class="my-3">
                <div class="row">
                    <div class="col me-3">
                        <h6 class="titre-section">Commentaire sur la tenue de l'instance élective</h6>
                        <div class="contenu-section text-break text-center">
                        {% if compteRendu.commentaireTenueInstance %}
                            {{compteRendu.commentaireTenueInstance|raw}}  
                        {% else %}
                            <span class="fw-lighter fst-italic text-warning">Pas de commentaires</span>
                        {% endif %}
                        </div>
                    </div>
                    {% if workflow_has_marked_place(compteRendu, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_ATTENTE_VALIDATION')) and is_granted(constant('App\\Security\\Voter\\StructureVoter::VALIDER'), compteRendu.structure) %}
                    <div class="col me-3">
                        <h6 class="titre-section">Commentaire à destination de la personne validatrice</h6>
                        <div class="contenu-section text-break text-center">
                        {% if compteRendu.commentaireDestinationValidation %}
                            {{compteRendu.commentaireDestinationValidation|raw}}  
                        {% else %}
                            <span class="fw-lighter fst-italic text-warning">Pas de commentaires</span>
                        {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col d-flex flex-row-reverse align-items-center">
                {% if (workflow_has_marked_place(compteRendu, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_VALIDE'))
                        or workflow_has_marked_place(compteRendu, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_SAISON_PASSEE'))) and is_granted(constant('App\\Security\\Voter\\StructureVoter::MODIFIER_APRES_VALIDATION'), compteRendu.structure) %}
                    <a class="btn btn-secondary border border-secondary" href="{{ path('saisie_cr_apl_sla', { 'compteRendu': compteRendu.id }) }}">Modifier le Compte-rendu</a>
                {% endif %}
                {% if workflow_has_marked_place(compteRendu, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_ATTENTE_VALIDATION')) and is_granted(constant('App\\Security\\Voter\\StructureVoter::VALIDER'), compteRendu.structure) %}
                    <a class="btn btn-outline-secondary border border-secondary mx-1" href="{{ path('invalidation_cr_apl_sla', { 'compteRendu': compteRendu.id }) }}">Invalider le Compte-rendu</a>
                    <a class="btn btn-secondary mx-1" href="{{ path('validation_cr_apl_sla', { 'compteRendu': compteRendu.id }) }}">Valider le Compte-rendu</a>
                    <a class="btn btn-primary  mx-1" href="{{ path('saisie_cr_apl_sla', { 'compteRendu': compteRendu.id }) }}">Modifier le Compte-rendu</a>
                {% endif %}
                {% if workflow_has_marked_place(compteRendu, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_VALIDE'))
                    and is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), compteRendu.structure) %}
                    <a class="btn btn-outline-primary border border-primary mx-1" href="{{ path('saisie_documents_cr_apl_sla', { 'compteRendu': compteRendu.id }) }}">Ajouter un document</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
