{% extends 'base.html.twig' %}

{% block title %}Valider le compte-rendu de l'APL {{compteRendu.saison.nom}} de {{compteRendu.structure.nom}}{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5">
        <h1>Valider le compte-rendu de l'APL {{compteRendu.saison.nom}} de {{compteRendu.structure.nom}}</h1>
    </div>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message | raw }}
        </div>
    {% endfor %}
    <div class="">
        {{form_start(form_validation_cr_apl)}}
            <div class="my-3">
                {% deprecated 'Obsolète depuis AG 2024' %}
                {% if form_validation_cr_apl.validationResponsable is defined %}
                <div class="contenu-section d-flex flex-row align-items-center flex-wrap">
                        {{ form_label(form_validation_cr_apl.validationResponsable)}} 
                        {{ form_errors(form_validation_cr_apl.validationResponsable)}} 
                        {{ form_help(form_validation_cr_apl.validationResponsable)}} 
                        {{ form_widget(form_validation_cr_apl.validationResponsable)}}           
                </div>
                {% endif %}
            </div>
            <div class="my-3">
                {% deprecated 'Obsolète depuis AG 2024' %}
                {% if form_validation_cr_apl.validationTresorier is defined %}
                <div class="contenu-section d-flex flex-row align-items-center flex-wrap">
                        {{ form_label(form_validation_cr_apl.validationTresorier)}} 
                        {{ form_errors(form_validation_cr_apl.validationTresorier)}} 
                        {{ form_help(form_validation_cr_apl.validationTresorier)}} 
                        {{ form_widget(form_validation_cr_apl.validationTresorier)}}           
                </div>
                {% endif %}
            </div>
            <div class="my-3">
                {% if form_validation_cr_apl.validationMissionOrganisation is defined %}
                <div class="contenu-section d-flex flex-row align-items-center flex-wrap">
                        {{ form_label(form_validation_cr_apl.validationMissionOrganisation)}} 
                        {{ form_errors(form_validation_cr_apl.validationMissionOrganisation)}} 
                        {{ form_help(form_validation_cr_apl.validationMissionOrganisation)}} 
                        {{ form_widget(form_validation_cr_apl.validationMissionOrganisation)}}           
                </div>
                {% endif %}
            </div>
            <div class="my-3">
                {% if form_validation_cr_apl.validationMissionTresorerie is defined %}
                <div class="contenu-section d-flex flex-row align-items-center flex-wrap">
                        {{ form_label(form_validation_cr_apl.validationMissionTresorerie)}} 
                        {{ form_errors(form_validation_cr_apl.validationMissionTresorerie)}} 
                        {{ form_help(form_validation_cr_apl.validationMissionTresorerie)}} 
                        {{ form_widget(form_validation_cr_apl.validationMissionTresorerie)}}           
                </div>
                {% endif %}
            </div>
            <div class="my-3">
                <div class="shadow-sm px-4 bg-info d-flex flex-row align-items-center flex-wrap">
                        {{ form_label(form_validation_cr_apl.autonomieStructure)}}                        
                        <div class="row">
                        {{ form_errors(form_validation_cr_apl.autonomieStructure)}} 
                        {{ form_help(form_validation_cr_apl.autonomieStructure)}} 
                        {{ form_widget(form_validation_cr_apl.autonomieStructure)}}     
                        </div>      
                </div>
            </div>
             <div class="col d-flex flex-row-reverse align-items-center">
                {{form_row(form_validation_cr_apl.save)}}    
            </div>
        {{form_end(form_validation_cr_apl)}}
    </div>
</div>
{% endblock %}

