<div class="align-items-center row">
        {{ form_errors(vote)}}
        <div class="col-8 text-center">
                {{form_label(vote.nombreVoixFavorables)}}
        </div>
        <div class="col-4">
                {{form_widget(vote.nombreVoixFavorables)}}
        </div>
</div>
