
    <div class="col d-flex flex-row text-center align-items-center autre_doc">
        <div class="container vstack">
            {{form_errors(item)}} 
            <div class="text-center">{{form_row(item.titre)}}</div>
            <div >{{form_widget(item.document)}}</div>
        </div>
    </div>
