{{form_label(electionEquipe)}} 
{{form_errors(electionEquipe)}} 
<div class="container my-2">
    <ul class="rolesEquipeElue m-0 p-0" id="{{  electionEquipe.roles.vars.id }}"
        data-index="{{ electionEquipe.roles|length > 0 ? electionEquipe.roles|last.vars.name + 1 : 0 }}"
        data-prototype=" {{ include('form/_form_roleEquipeElue.html.twig', { 'role': electionEquipe.roles.vars.prototype})|e('html_attr') }} "
    >
        {% for role in electionEquipe.roles %}
            <div class="d-flex flex-row align-items-center flex-wrap">
                {{ include('form/_form_roleEquipeElue.html.twig', { 'role': role}) }}
            </div>
        {% endfor %}
    </ul>
    <button type="button" class=" fw-bold  add_item_link text-center w-100 rounded-pill btn btn-secondary" data-collection-holder-class="rolesEquipeElue">+</button>
</div>
<div>
    {{ include('form/_form_vote.html.twig', { 'vote': electionEquipe.vote}) }}  
</div>
{{form_rest(electionEquipe)}}
