<div class="p-1 border bg-light dark rounded  container col">
        <div class ="py-2">
                {{form_label(motion.titre)}}
                {{form_widget(motion.titre)}}
        </div>
        <div class ="py-2">
                {{form_label(motion.contenu)}}
                {{form_widget(motion.contenu)}}
        </div>
        <div>
                {{ include('form/_form_vote.html.twig', { 'vote': motion.vote}) }}  
        </div>
</div>
