<div class="col my-2 container nbVotantsSpecifique">
        <div class="text-center">
                {{ form_label(item.nombreVotants) }}
        </div>
        <div class="text-center">
                {{ form_errors(item) }}
                {{form_widget(item.nombreVotants)}}
        </div>
</div>
