<div class="p-1 border bg-light dark rounded container col">
        <div class ="py-2">
                {{form_label(voeu.titre)}}
                {{form_widget(voeu.titre)}}
        </div>
        <div class ="py-2">
                {{form_label(voeu.contenu)}}
                {{form_widget(voeu.contenu)}}
        </div>
        <div>
                {{ include('form/_form_vote.html.twig', { 'vote': voeu.vote}) }}  
        </div>
</div>
