<div class=" my-2 border border secondary bg-light dark rounded-5 container col ">
    <div class="vote row align-items-center">
        <div class="col-4 ">
            Personne élue
        </div>
        <div class="col-8 my-2">
            {{form_widget(role.personne)}}               
        </div>
    </div>
    <div class="vote row mb-2">
        <div class="col-4 ">
            Mission ({{form_help(role.fonctionSpecifique)}} )
        </div>
        <div class="col-8">
            {{form_widget(role.fonctionSpecifique)}}               
        </div>
    </div>
</div>