
{{ form_errors(electionNominative) }}
<div class="electionNominative container my-2  ">
    <div class="row align-items-center my-1">
          <div class="col-4 pasElection">
               {{form_widget(electionNominative.pasDElection)}}               
          </div>
          <div class="col-8 container personne">
                    {{form_widget(electionNominative.personne)}}       
                    {% if electionNominative.status is defined %}    
                         <div class = "container my-2">
                         {{form_widget(electionNominative.status)}} 
                         </div>    
                    {% endif %}  
          </div>
     </div>
     <div class="row align-items-center">
           <div class="col-5 dejaElu">
          {% if electionNominative.dejaElu is defined %}
               {{form_widget(electionNominative.dejaElu)}}               
          {% endif %}
          </div>
          <div class="col-7 vote">
               {{ include('form/_form_voteNominatif.html.twig', { 'vote': electionNominative.vote}) }}  
          </div>
     </div>
</div>