<div class="container voteNonNominatif">
        {{form_label(vote)}}
        <div class="row align-items-center mx-auto text-center">
                <div class="col-3">
                        <div class="row align-items-center">
                                <div class="col-5 ">
                                        {{form_label(vote.nombreVoixFavorables)}}
                                </div>
                                <div class="col-7 favorables">
                                        {{form_widget(vote.nombreVoixFavorables)}}
                                </div>
                        </div>
                </div>
                <div class="col-3">
                        <div class="row align-items-center">
                                <div class="col-5 fw-normal">
                                        {{form_label(vote.nombreVoixDefavorables)}}
                                </div>
                                <div class="col-7 defavorables" >
                                        {{form_widget(vote.nombreVoixDefavorables)}}
                                </div>
                        </div>
                </div>
                <div class="col-3">
                        <div class="row align-items-center">
                                <div class="col-5 fw-normal">
                                        {{form_label(vote.nombreVoixBlancs)}}
                                </div>
                                <div class="col-7 blancs" >
                                        {{form_widget(vote.nombreVoixBlancs)}}
                                </div>
                        </div>
                </div>
                <div class="col-3 px-0">
                        <div class=" row align-items-center">
                                <div class="col-6 mb-2">
                                        Abstention
                                </div>
                                <div class="col-6" >
                                        <input class="form-control w-100 rounded abstention" type="text" placeholder="--" disabled></input>
                                </div>
                        </div>
                </div>
        </div>
</div>
