{% extends 'base.html.twig' %}

{% block title %}Centre de notifications{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5">
        <h1>Centre de notifications</h1>
    </div>
    <div class="">
        <table class=" table table-striped">
            <thead>
            </thead>
            <tbody>       
                {% for notification in notifications %}
                    <tr {% if not notification.lu %}class="nonLu border-3 border-warning"{% endif %}>
                        <td>{{notification.contenu|raw}}</td>
                        <td>{% if notification.lien !=null %}
                                {{notification.lien|raw}}
                            {% endif %}
                        </td>
                {% else %}
                    <p>Vous n'avez aucune notification pour le moment</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url : '{{path('marquer_toutes_notification_comme_lues')}}'
        })
        .done(
            function() {
                $(".nonLu").each(function(){
                        console.log($(this))
                        $(this).removeClass("border-warning");
                    }
                   
                )
             }
        )
    });
</script>
{% endblock %}