<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Agora{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            
        {% endblock %}


    </head>
    <body class="fond_accueil">
        <div class="row">
            <div class="col-3">
                <div class="container vstack align-items-center ">
                    <img src="{{ asset('images/logo-eedf-blanc-2.svg') }}" class="img-fluid w-50 py-5" alt="Responsive image">
                </div>
            </div>
            <div class="col-6">
                <div class="wrapper bg-light rounded-bottom-5">
                    <img src="{{ asset('images/feuilles_vertes.svg') }}" class="img-fluid position-absolute bottom-85 end-30 " alt="Responsive image">
                    <div class="container vstack "> 
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('warning') %}
                                <div class="alert alert-warning">
                                    {{ message | raw }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger">
                                    {{ message | raw }}
                                </div>
                            {% endfor %}
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        
                        <img src="{{ asset('images/logo_principal_agora-2.svg') }}"  style="width: 60%;" class="mx-auto d-block" alt="Responsive image">
                        <a class= "d-block mx-auto btn rounded btn-secondary my-5" href="{{ path('jeito_connect') }}">Se connecter via Jéito</a>
                    </div>

                </div> 
            </div>
            <div class="col-3"></div>
        </div>
        <div class="bg-light position-absolute bottom-0 end-10 text-center p-3 rounded-top-5">
            <div class="fs-6 fw-bold">Besoin d'aide ?</div>
            <a class= " text-muted  fst-italic" href="{{ path('support') }}"><small>Contacter l'équipe support</small></a>
        </div>
    </div>



