{% extends 'base.html.twig' %}

{% block title %}Archives des APL de SLA{% endblock %}

{% block body %}

<div class="container">
    <div class="my-5">
        <h1>
            {% if typeCompteRendu == constant('App\\Entity\\CompteRenduInstance::TYPE_APL_SLA') %}
                {% if structure %}
                    {% if structure.estUneRegion %}
                        Archives des APL de SLA de la région {{structure.nom}}
                    {% else %}
                        Archives des APL de la structure {{structure.nom}}
                    {% endif %}
                {% else %}
                    Archives des APL de SLA
                {% endif %}
            {% elseif typeCompteRendu == constant('App\\Entity\\CompteRenduInstance::TYPE_APL_SLAN') %}
                Archives des APL des structures nationales
            {% elseif typeCompteRendu == constant('App\\Entity\\CompteRenduInstance::TYPE_CONGRES') %}
                {% if structure %}
                    Archives des Congrès régionaux de la région {{structure.nom}}
                {% else %}
                    Archives des Congrès régionaux
                {% endif %}
            {% endif %}
        </h1>
    </div>
    <div id="resume_archive" class="container">
    {{ render(path('archives', {typeCompteRendu: typeCompteRendu})) }}
    </div>
</div>
{% endblock %}
