{% extends 'base.html.twig' %}

{% block title %}Déléguer mes droits{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5">
        <h1>Déléguer mes droits</h1>
    </div>
    
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message | raw }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message | raw }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message | raw }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Liste des droits manuels existants</h6>
                    <div class="contenu-section">
                        <table class=" table table-striped">
                            <thead>
                                <th class="pb-0 px-0  bg-info" >
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Droit</div>
                                </th>
                                <th class="pb-0 px-0  bg-info">
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Structure</div>
                                </th>
                                <th class="pb-0 px-0  bg-info">
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Personne</div>
                                </th>
                                <th class="pb-0 px-0  bg-info">
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Date d'expiration</div>
                                </th>
                                <th class="pb-0 px-0  bg-info"></th>
                            </thead>
                            <tbody>       
                                {% for droitManuel in droitsManuelsSupprimables %}
                                    <tr>
                                        <td>{{ constant('App\\Service\\DroitsHelper::ARRAY_DROITS')[droitManuel.droit] }}</td>
                                        <td>{{ droitManuel.structure.nom }}</td>
                                        <td>{{ droitManuel.personne.prenom }} {{ droitManuel.personne.nom }}</td>
                                        <td>{{ droitManuel.dateExpiration|format_datetime(pattern="d/MM/y", locale='fr') }}</td>
                                        <td>
                                            <a class="btn btn-outline-secondary text-dark rounded" href="{{path('supprimer_droit_non_admin', {'droitManuel': droitManuel.id })}}">Supprimer</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>Il n'y a aucun droit manuel</tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Déléguer</h6>
                    <div class="contenu-section">
                    {{form_start(form, { attr: { id: 'delegation_droit_form' } })}}
                    <div class="modal-body ">
                            <ul class="text-start">
                                
                                    {{form_row(form.structure)}}
                                    {{form_row(form.personne)}}
                                    {{form_row(form.duree)}}
                                    {{form_row(form.droit)}}
                                    <div class="col d-flex flex-row-reverse align-items-center">
                                    {{form_row(form.save)}}
                                    </div>
                                
                            </ul>
                    </div>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        const form = document.getElementById('delegation_droit_form');
        const form_select_structure = document.getElementById('delegation_droit_non_admin_structure');
        const form_select_droits = document.getElementById('delegation_droit_non_admin_droit');

        const updateForm = async (data, url, method) => {
            console.log(url);
        const req = await fetch(url, {
            method: method,
            body: data,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'charset': 'utf-8'
            }
        });

        const text = await req.text();

        return text;
        };

        const parseTextToHtml = (text) => {
        const parser = new DOMParser();
        const html = parser.parseFromString(text, 'text/html');

        return html;
        };

        const changeOptions = async (e) => {
        const requestBody = e.target.getAttribute('name') + '=' + e.target.value;
        const updateFormResponse = await updateForm(requestBody, form.getAttribute('action'), form.getAttribute('method'));
        const html = parseTextToHtml(updateFormResponse);

        const new_form_select_droits = html.getElementById('delegation_droit_non_admin_droit');
        form_select_droits.innerHTML = new_form_select_droits.innerHTML;
        };

        form_select_structure.addEventListener('change', (e) => changeOptions(e));
    </script>
{% endblock %}

