{% extends 'base.html.twig' %}

{% if region is defined %}
    {% set titre = "Délégation à l'AG de la région " ~ region.nom ~ " pour la saison " ~ saisonCourante.nom %}
{% else %}
    {% set titre = "Liste des délégué·es et suppleant·es à l'AG pour la saison " ~ saisonCourante.nom %}
{% endif %}

{% block title %}{{titre}}{% endblock %}
{% block body %}
<div class="container">
    <div class="my-5"><h1>{{titre}}</h1></div>
        {% if region is defined %}
            {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), region) %}
                <a class="btn btn-secondary rounded " href="{{path('region_delegation_ag_export')}}">Exporter</a>
            {% endif %}
        {% else %}
            <a class="btn btn-secondary rounded " href="{{path('administration_delegues_suppleants_ag_export')}}">Exporter</a>
        {% endif %}
        <table class=" table table-striped">
            <thead>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Nom</div>
                </th>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Prénom</div>
                </th>
                {% if (region is defined and is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), region)) or is_granted('ROLE_ADMIN') %}
                    <th class="pb-0 px-1">
                        <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Adhérent·e</div>
                    </th>
                    <th class="pb-0 px-0">
                        <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Adresse mail</div>
                    </th>
                {% endif %}
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Mission</div>
                </th>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Structure d'élection</div>
                </th>
                {% if region is not defined %}
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Délégation</div>
                </th>
                {% endif %}
            </thead>
            <tbody>      
                {% if (region is not defined) and (listeMembresCD is defined) %} 
                    {% for membreCD in listeMembresCD %}
                        <tr>
                            <td>{{membreCD.nom}}</td>
                            <td>{{membreCD.prenom}}</td>
                            <td>{{membreCD.numeroAdherentOuMatricule}}</td>
                            <td>{{membreCD.adresseMail}}</td>
                            <td>Membre de droit</td>
                            <td>Comité directeur</td>
                            <td>Nation</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% for delegueOuSuppleant in listeDelegueOuSuppleant %}
                    <tr>
                        {% if delegueOuSuppleant.personne and delegueOuSuppleant.status == constant('App\\Entity\\ElectionNominative::STATUS_VALIDE') %}
                            <td>{{delegueOuSuppleant.personne.nom}}</td>
                            <td>{{delegueOuSuppleant.personne.prenom}}</td>
                            {% if (region is defined and is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), region)) or is_granted('ROLE_ADMIN') %}
                                <td>{{delegueOuSuppleant.personne.numeroAdherentOuMatricule}}</td>
                                <td>{{delegueOuSuppleant.personne.adresseMail}}</td>
                            {% endif %}
                            <td> 
                                {% if delegueOuSuppleant.poste == constant('App\\Entity\\ElectionNominative::POSTE_DELEGUE_AG') %}
                                    Délégué·e
                                {% elseif delegueOuSuppleant.poste == constant('App\\Entity\\ElectionNominative::POSTE_SUPPLEANT_AG') %}
                                    Suppléant·e
                                {% elseif (delegueOuSuppleant.poste == constant('App\\Entity\\ElectionNominative::POSTE_REPRESENTATION_SLA')) or (delegueOuSuppleant.poste == constant('App\\Entity\\ElectionNominative::POSTE_REPRESENTATION_REGION'))  %}
                                    Représentation
                                {% endif %}
                            </td>
                        {% else %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                        <td>{{delegueOuSuppleant.compteRendu.structure.nom}}</td>
                        {% if region is not defined %}
                            {% if delegueOuSuppleant.compteRendu.structure.estUneRegion %}
                                <td>{{delegueOuSuppleant.compteRendu.structure.nom}}</td>
                            {% elseif delegueOuSuppleant.compteRendu.structure.estUneSLAN %}
                                <td>{{delegueOuSuppleant.compteRendu.structure.structureRegionaleAffiliee.nom}}</td>
                            {% else %}
                                <td>{{delegueOuSuppleant.compteRendu.structure.structureParent.nom}}</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% else %}
                    <p>Il n'y a aucun·e délégué·e ou suppléant·e</p>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}

