{% extends 'base.html.twig' %}

{% block title %}AGORA - Home Administration{% endblock %}

{% block body %}
<div class=" text-center position-relative ">
    <img src="{{ asset('images/pluie_verte.svg') }}" style="z-index: -1;" class="img-fluid position-absolute  bottom-90 end-0" alt="Responsive image">
    <div class="row d-flex flex-row justify-content-between align-items-center">
        <div class="col-4">
        </div>
        <div class="col-4 justify-content-center">
            <img src="{{ asset('images/titre_agora.svg') }}" class="img-fluid" alt="Responsive image">
            <p class="text-primary fs-5 fw-bold">L’outil de dialogue et de vie démocratique aux éclés</p>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <img src="{{ asset('images/logo_agora-2.svg') }}" style="z-index:-1;" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
<div class="example-wrapper">
    <div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% set donneesBoutons = 
        [
            { 
                'path': path('gestion_structures_sla'),
                'texte': "<b>Consulter</b><br/> les compte-rendus des APL"
            },
            { 
                'path': path('gestion_structures_regions'),
                'texte': "<b>Consulter</b><br/> les compte-rendus des congrès"
            },
            { 
                'path': path('gestion_structures_slan'),
                'texte': "<b>Consulter</b><br/> les compte-rendus des APL des structures nationales"
            },
            { 
                
            }
        ]
        %} 
        {{ include('components/_boutons_action_rapide.html.twig', {'donneesBoutons': boutonsAccesRapide}) }}

        <div class ="fond_assemblee"></div>
    </div>
    <div class ="row">
        <div class="col text-center my-5">
            <div id="resume_structure" class="container">
            {% if app.session.get('perimetre') %}
                {{ render(controller('App\\Controller\\AgoraController::selectionStructureHomePage')) }}
            {% endif %}
            </div>
        </div>
        <div class="vr px-0 mt-2"></div>
        <div class="col text-center my-5">
            {{ include('components/_resume_profil.html.twig', {'personne': app.user, 'droits': droitsUser}) }}
        </div>
    </div>
    <img src="{{ asset('images/etoiles_rouges.svg') }}" style="z-index: -1;" class="img-fluid position-absolute bottom-0 end-0  " alt="Responsive image">
    <img src="{{ asset('images/bulles_vertes.svg') }}" style="z-index: -1;" class="img-fluid position-absolute bottom-0 start-25 translate-middle" alt="Responsive image">

</div>
{% endblock %}
