{% extends 'base.html.twig' %}

{% block title %}AGORA - Home SLAN{% endblock %}

{% block body %}
<div class=" text-center position-relative ">
    <img src="{{ asset('images/pluie_verte.svg') }}" style="z-index: -1;" class="img-fluid position-absolute  bottom-90 end-0" alt="Responsive image">
    <div class="row d-flex flex-row justify-content-between align-items-center">
        <div class="col-4">
        </div>
        <div class="col-4 justify-content-center">
            <img src="{{ asset('images/titre_agora.svg') }}" class="img-fluid" alt="Responsive image">
            <p class="text-primary fs-5 fw-bold">L’outil de dialogue et de vie démocratique aux éclés</p>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <img src="{{ asset('images/logo_agora-2.svg') }}" style="z-index:-1;" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
<div class="">
    <div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {{ include('components/_boutons_action_rapide.html.twig', {'donneesBoutons': boutonsAccesRapide}) }}

        <div class ="fond_assemblee"></div>
    </div>
    <div class ="row">
        <div class="col text-center my-5">
            {% if app.session.get('perimetre') %}
                
            {{ include('components/_resume_structure.html.twig', {'structure': structurePerimetre}) }}

            {% endif %}
        </div>
        <div class="vr px-0 mt-2"></div>
        <div class="col text-center my-5">
            {{ include('components/_resume_profil.html.twig', {'personne': app.user, 'droits':droitsUser}) }}
        </div>
    </div>
    <img src="{{ asset('images/etoiles_rouges.svg') }}" style="z-index: -1;" class="img-fluid position-absolute bottom-0 end-0  " alt="Responsive image">
    <img src="{{ asset('images/bulles_vertes.svg') }}" style="z-index: -1;" class="img-fluid position-absolute bottom-0 start-25 translate-middle" alt="Responsive image">

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        const form = document.getElementById('delegation_droit_form');
        const form_select_structure = document.getElementById('delegation_droit_non_admin_structure');
        const form_select_droits = document.getElementById('delegation_droit_non_admin_droit');

        const updateForm = async (data, url, method) => {
        const req = await fetch(url, {
            method: method,
            body: data,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'charset': 'utf-8'
            }
        });

        const text = await req.text();

        return text;
        };

        const parseTextToHtml = (text) => {
        const parser = new DOMParser();
        const html = parser.parseFromString(text, 'text/html');

        return html;
        };

        const changeOptions = async (e) => {
        const requestBody = e.target.getAttribute('name') + '=' + e.target.value;
        const updateFormResponse = await updateForm(requestBody, form.getAttribute('action'), form.getAttribute('method'));
        const html = parseTextToHtml(updateFormResponse);

        const new_form_select_droits = html.getElementById('delegation_droit_non_admin_droit');
        form_select_droits.innerHTML = new_form_select_droits.innerHTML;
        };

        form_select_structure.addEventListener('change', (e) => changeOptions(e));
    </script>
{% endblock %}