{% extends 'base.html.twig' %}

{% block title %}Resumé des Congrès Régionaux{% endblock %}

{% block body %}

<div class="container">
    <div class="my-5">
        <h1>Resumé des Congrès Régionaux</h1>
    </div>
    <div >
        <table class=" table table-striped">
            <thead>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Nom de la région</div>
                </th>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Date(s) du congrès</div>
                </th>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Etat du CR</div>
                </th>
                <th></th>
            </thead>
            <tbody>       
                {% for compteRenduRegion in comptesRendusRegion %}
                    <tr>
                        <td>{{compteRenduRegion.structure.nom}}</td>
                        <td>
                        {% if compteRenduRegion.dateInstance %}
                            {% if compteRenduRegion.dateFinInstance %}
                                Du  {{ compteRenduRegion.dateInstance|format_datetime(pattern="d/MM/y", locale='fr')}} au {{ compteRenduRegion.dateFinInstance|format_datetime(pattern="d/MM/y", locale='fr')}}
                            {% else %}
                                {{compteRenduRegion.dateInstance|format_datetime(pattern="d/MM/y", locale='fr')}}
                            {% endif %}
                        {% elseif compteRenduRegion.naPasEuLieu %}
                            <span class="fw-lighter fst-italic text-warning">
                                Aucun congrès n'a eu lieu
                            </span>
                        {% else %}
                            <span class="fw-lighter fst-italic text-warning">Non renseigné</span> 
                        {% endif %}
                        </td>
                        <td>
                            {{ include('components/status_compte_rendu.html.twig', {'compteRendu': compteRenduRegion}) }}
                        </td>
                        <td>
                            {% if workflow_has_marked_place(compteRenduRegion, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_NON_SAISI')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), compteRenduRegion.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded-pill" href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': compteRenduRegion.id})}}"><b>Saisir</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), compteRenduRegion.structure) %}
                                {% endif %}
                            {% elseif workflow_has_marked_place(compteRenduRegion, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_ATTENTE_VALIDATION')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::VALIDER'), compteRenduRegion.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded-pill" href="{{path('compte_rendu_action', {'action':'consultation','compteRendu': compteRenduRegion.id})}}"><b>Vérifier</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), compteRenduRegion.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded-pill" href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': compteRenduRegion.id})}}"><b>Modifier</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), compteRenduRegion.structure) %}                       
                                {% endif %}
                            {% elseif workflow_has_marked_place(compteRenduRegion, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_NON_VALIDE')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), compteRenduRegion.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded" href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': compteRenduRegion.id})}}"><b>Corriger</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), compteRenduRegion.structure) %}
                                {% endif %}
                            {% elseif workflow_has_marked_place(compteRenduRegion, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_VALIDE')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), compteRenduRegion.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded" href="{{path('compte_rendu_action', {'action':'consultation','compteRendu': compteRenduRegion.id})}}"><b>Voir</b></a>
                                {% endif %}
                            {% elseif workflow_has_marked_place(compteRenduRegion, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_PAS_D_INSTANCE')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::VALIDER'), compteRenduRegion.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded" href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': compteRenduRegion.id})}}"><b>Renseigner</b></a>
                                {% endif %}
                            {% endif %}
                        </td>
                {% else %}
                    <p>Il n'y a aucun compte rendu</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
