{% extends 'base.html.twig' %}

{% block title %}Etat des lieux des APL de SLA{% endblock %}

{% block body %}

<div class="container">
    <div class="my-5">
        <h1>
            {% if region is not null %}
                Resumé des APL de SLA en région {{region.nom}}
            {% else %}
                Resumé des APL de SLA
            {% endif %}
        </h1>
    </div>
    <div id="resume_apl" class="container">
        {{ render(path('resume_apl')) }}
    </div>
    
</div>
{% endblock %}
