<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Agora{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            
        {% endblock %}


    </head>
    <body class="fond_accueil ">
        <div class="row">
            <div class="col-3">
                <div class="container vstack align-items-center ">
                    <img src="{{ asset('images/logo-eedf-blanc-2.svg') }}" class="img-fluid w-50 py-5" alt="Responsive image">
                </div>
            </div>
            <div class="col-6">
                <div class="wrapper bg-light rounded-bottom-5">
                    <img src="{{ asset('images/feuilles_vertes.svg') }}" class="img-fluid position-absolute bottom-85 end-30 " alt="Responsive image">
                    <div class="container vstack "> 
                            {% for message in app.flashes('deconnexion') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('warning') %}
                                <div class="alert alert-warning">
                                    {{ message | raw }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger">
                                    {{ message | raw }}
                                </div>
                            {% endfor %}
                        
                        
                        <img src="{{ asset('images/logo_principal_agora-2.svg') }}"  style="width: 60%;" class="mx-auto d-block" alt="Responsive image">
                        
                        <div class="d-block mx-auto text-center  m-3 p-3">
                            <h1 class="text-capitalize">Bienvenue {{app.user.prenom|title }} {{app.user.nom|title}}</h1>
                            {{form_start(formSelectionPerimetre)}}
                                <div class="form-group">
                                    {{ form_row(formSelectionPerimetre.perimetre) }}
                                </div>
                                
                                <div class="m-3">
                                    {{ form_row(formSelectionPerimetre.save) }}
                                </div>
                                <a class= "" href="{{ path('app_logout') }}">Se déconnecter</a>
                            {{form_end(formSelectionPerimetre)}}
                        </div>

                    </div>

                </div> 
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="bg-light position-absolute bottom-0 end-10 text-center p-2 rounded-top-5">
            <div class="fs-6 fw-bold">Besoin d'aide ?</div>
            <a class= " text-muted  fst-italic" href="{{ path('support') }}"><small>Contacter l'équipe support</small></a>
        </div>
    </div>



