{% extends 'base.html.twig' %}

{% block title %}Un problème ?{% endblock %}

{% block body %}
    <div class="container">
        <div class="my-5"><h1>Envoi d'un mail au support</h1></div>
        {{form_start(formSupport)}}
            <div class="border rounded border-secondary my-1 p-3" {% if besoinCoordonnees == false %}disabled required=false style="display:none"{% endif %} >
                <p>Vous n'êtes pas connecté·e, merci de renseigner vos informations suivantes pour que le support puisse vous recontacter</p>
                <div class="form-group" >
                    {% if besoinCoordonnees  %}
                        {{form_row(formSupport.nom , { 'required': true })}}
                    {% else %}
                        {{form_row(formSupport.nom)}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if besoinCoordonnees  %}
                        {{form_row(formSupport.prenom , { 'required': true })}}
                    {% else %}
                        {{form_row(formSupport.prenom)}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if besoinCoordonnees  %}
                        {{form_row(formSupport.email , { 'required': true })}}
                    {% else %}
                        {{form_row(formSupport.email)}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if besoinCoordonnees  %}
                        {{form_row(formSupport.numeroAdherentOuMatricule , { 'required': true })}}
                    {% else %}
                        {{form_row(formSupport.numeroAdherentOuMatricule)}}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{form_row(formSupport.rubrique)}}
            </div>
            <div class="form-group">
                {{form_row(formSupport.message)}}
            </div>
            <div>
                {{ form_widget(formSupport.envoyer, {'attr': {'class': 'btn btn-secondary m-3'}}) }}
            </div>
        {{form_end(formSupport)}}
    </div> 
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
