<h1>Erreur lors de la validation d'un compte-rendu </h1>

<p>Bonjour, lors de la validation du compte-rendu de {{structure.nom}}, <b>AGORA</b> a rencontré une erreur lors de l'écriture des fonctions électives dans Jéito:
    <div>{{exception.message}}</div>
</p>

<p>
    Cordialement
</p>
<small>Ceci est un message automatique, merci de ne pas y répondre.</small>
