<h1>Récapitulatif de la mise à jour des données de fonctions électives depuis AGORA vers Jéito</h1>

<p>Bonjour, Une nouvelle synchronisation des données <b>AGORA</b> a été effectuée vers Jéito, voici les informations principales :
    <ul>
    {% for ligne_info in infos %}
        <li>{{ligne_info}}</li>  
    {% endfor %}  
    </ul>  
</p>

<p>
    Cordialement
</p>
<small>Ceci est un message automatique, merci de ne pas y répondre.</small>
