        
                {{form_start(formSelectionPerimetreForNavBar)}}
                    <div class="form-group badge rounded-pill" id="selection_perimetre">
                        {{ form_widget(formSelectionPerimetreForNavBar.perimetre) }}
                    </div>
                {{form_end(formSelectionPerimetreForNavBar)}}




