{% extends 'base.html.twig' %}

{% block title %}Saisir les documents du congrès {{compteRendu.saison.nom}} de la région {{compteRendu.structure.nom}}{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5">
        <h1>Saisir les documents du congrès {{compteRendu.saison.nom}} de la région {{compteRendu.structure.nom}} {{ include('components/status_compte_rendu.html.twig', {'compteRendu': compteRendu}) }}</h1>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="">
        {{form_start(form_saisie_documents_cr_congres)}}
            <!-- Documents --> 
            <div class="my-3">
                <h6 class="titre-section">Documents</h6>
                <div class="contenu-section">
                    <div class="row">
                        <div class="col form-group">
                            {{form_row(form_saisie_documents_cr_congres.rapportActivites)}}               
                        </div>
                        <div class="vr px-0 mt-2"></div>
                        <div class="col form-group">
                            {{form_row(form_saisie_documents_cr_congres.rapportFinancier)}}               
                        </div>
                        <div class="vr px-0 mt-2"></div>
                        <div class="col form-group">
                            {{form_row(form_saisie_documents_cr_congres.rapportMoral)}}               
                        </div>
                    </div>
                    <div class="row m-0">
                        <hr class="my-0">
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            {{form_row(form_saisie_documents_cr_congres.planAction)}}    
                        </div>
                        <div class="vr px-0"></div>
                        <div class="col form-group">
                            {{form_row(form_saisie_documents_cr_congres.budgetPrevisionnel)}}               
                        </div>
                        <div class="vr px-0"></div>
                    </div>
                    <div class="row m-0">
                        <hr class="my-0">
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            {{form_row(form_saisie_documents_cr_congres.calendrierPrevisionnel)}}               
                        </div>
                        <div class="vr px-0 mb-2"></div>
                        <div class="col form-group">
                            {{form_row(form_saisie_documents_cr_congres.listeEmargement)}}    
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <a class="etiquette-fin-section" target="_blank" href="{{path('ressources_congres')}}"><strong><small>Documents d'aide</small></strong></a>
                </div>
            </div>
            <!-- Autres documents -->
            <div class="my-3">
                <h6 class="titre-section">Autres documents</h6>
                <div class="contenu-section">
                    <div class="text-center">
                        {{form_errors(form_saisie_documents_cr_congres.autresDocuments)}}
                    </div>
                    <div>
                        <ul class="autresDocuments m-0 p-0" id="{{ form_saisie_documents_cr_congres.autresDocuments.vars.id }}"
                            data-index="{{ form_saisie_documents_cr_congres.autresDocuments|length > 0 ? form_saisie_documents_cr_congres.autresDocuments|last.vars.name + 1 : 0 }}"
                            data-prototype=" {{ include('form/_form_autre_document.html.twig', { 'item': form_saisie_documents_cr_congres.autresDocuments.vars.prototype})|e('html_attr') }} "
                        >
                            {{ include('components/_liste_dynamique_lignes_colonnes.html.twig', {
                                'nombreColonnes': 3,
                                'liste_items': form_saisie_documents_cr_congres.autresDocuments,
                                'path_template_twig':'form/_form_autre_document.html.twig',
                            }) }}
                        </ul>
                        <button type="button" class=" fw-bold  add_item_link_quadrant text-center w-100 rounded-pill btn btn-secondary" data-collection-holder-class="autresDocuments">+</button>          
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-row-reverse align-items-center">
                {{form_row(form_saisie_documents_cr_congres.save)}}    
            </div>
        {{form_end(form_saisie_documents_cr_congres)}}

    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>


    const addItemFormDeleteLinkForQuadrant = (item) => {
        const removeFormButton = document.createElement('button');
        removeFormButton.innerText = '-';
        removeFormButton.className += ' fw-bold btn btn-secondary rounded-pill'

        item.append(removeFormButton);

        removeFormButton.addEventListener('click', (e) => {
            e.preventDefault();
            // remove the div for the RoleEquipeElue form
            //si c'est le seul item de la row, on supprime la row et la barre horizontal d'avant (si elle existe)

            //sinon, on supprime l'item et la barre verticale d'avant (si elle existe, sinon celle f'apres)
            var barreV = item.previousElementSibling
            var barreVApres = item.nextElementSibling

            var rowCourante=item.parentElement
            var barreH = rowCourante.previousElementSibling
            var barreHApres = rowCourante.nextElementSibling


            if(!barreV && !barreVApres)
            {
                if(barreH)
                {
                    barreH.remove();
                }else{
                    if(barreHApres)
                    {
                        barreHApres.remove();
                    }
                }
                rowCourante.remove();
            }else{
                if(barreV)
                {
                    barreV.remove();
                }else{
                    if(barreVApres)
                    {
                        barreVApres.remove();
                    }
                }
                item.remove();
            }
            $(".add_item_link_quadrant[data-collection-holder-class='autresDocuments']").prop('disabled', false);
        });
    }


    const addFormToCollectionQuadrant = (e) => {
        ajoutFormToCollectionQuadrant(e.currentTarget.dataset.collectionHolderClass, true)
    }

    document
    .querySelectorAll('.add_item_link_quadrant')
    .forEach(btn => {
        btn.addEventListener("click", addFormToCollectionQuadrant)
    });
    $(document).ready(function() {
        $(".autresDocuments div.autre_doc ").each(function() {
            addItemFormDeleteLinkForQuadrant(this);
        });
        if($(".autresDocuments").data('index') >5)
        {
            $(".add_item_link_quadrant[data-collection-holder-class='autresDocuments']").prop('disabled', true);
        }
       
    })
    function ajoutFormToCollectionQuadrant($collectionHolderClass, avecBoutonDelete)
    {
        const nbColonnes=3;
        console.log("[ajoutFormToCollectionQuadrant]Begin "+$collectionHolderClass)
        const collectionHolder = document.querySelector('.' + $collectionHolderClass);
        console.log("[ajoutFormToCollection]Index "+collectionHolder.dataset.index)
        const item = document.createElement('div');
        item.className += "col d-flex flex-row align-items-center flex-wrap"
        item.className += ('item_' + $collectionHolderClass)
        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
            /__name__/g,
            collectionHolder.dataset.index
            );

        if (collectionHolder.dataset.index % nbColonnes == 0 )
        {
            if (collectionHolder.dataset.index > 0 )
            {
                var ligneH= document.createElement('div')
                ligneH.className += "row mt-2"
                ligneH.innerHTML ='<hr class="my-0"><!-- ligne horizontale -->'
                collectionHolder.appendChild(ligneH);
            }
             var row= document.createElement('div')
             row.className += "row"
             row.appendChild(item);
             collectionHolder.appendChild(row);
            
        }else{
            var rows=collectionHolder.querySelectorAll(".row");
            var ligneV= document.createElement('div')
            ligneV.className += "vr px-0 my-2"
            rows[rows.length -1].appendChild(ligneV);
            rows[rows.length -1].appendChild(item);
        }

        collectionHolder.dataset.index++;
        if(avecBoutonDelete)
        {
            addItemFormDeleteLinkForQuadrant(item);
        }
        items=collectionHolder.querySelectorAll(".autre_doc")
        if(items.length >5)
        {
            $(".add_item_link_quadrant[data-collection-holder-class="+$collectionHolderClass+" ]").prop('disabled', true);
        }
            
        console.log("[ajoutFormToCollectionQuadrant]End "+$collectionHolderClass)
    }
</script>
{% endblock %}
