{% extends 'base.html.twig' %}

{% block title %}Saisir le compte-rendu de congrès {{compteRendu.saison.nom}} de la région {{compteRendu.structure.nom}}{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5">
        <h1>Saisir le compte-rendu de congrès {{compteRendu.saison.nom}} de la région {{compteRendu.structure.nom}} {{ include('components/status_compte_rendu.html.twig', {'compteRendu': compteRendu}) }}</h1>
    </div>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message | raw }}
        </div>
    {% endfor %}
    <div class="">
        {% if compteRendu.commentaireInvalidation %}
        <div class="my-3">
            <h6 class="titre-section">Commentaires lors de l'invalidation du compte-rendu</h6>
            <div class="contenu-section d-flex flex-row align-items-center flex-wrap">
                <div class="m-2">
                    {{compteRendu.commentaireInvalidation|raw}}
                </div>
            </div>
        </div>
        {% endif %}
        {{form_start(form_saisie_cr_congres)}}
            {% if form_saisie_cr_congres.naPasEuLieu is defined %} 
                <div class="container naPasEuLieu border rounded border-secondary py-2 my-3">
                    {{form_widget(form_saisie_cr_congres.naPasEuLieu)}} 
                </div>
            {% endif %}
            <div class="compteRenduEffectif">
                <!-- Informations générales -->
                <div class="my-3">
                    <h6 class="titre-section">Informations générales</h6>
                    {% if form_saisie_cr_congres.autonomieStructure is defined %} 
                        <div class="contenu-section ">
                            <div class="row py-2">
                                <!-- Date(s) du congrès -->
                                <div class="col" id="datesInstance" > 
                                    <div class="container" > 
                                        <div class="row">
                                            <div id="titreDateUnique" class="text-center" >{{ form_label(form_saisie_cr_congres.dateInstance)}}</div>
                                            <div class="fw-bold text-primary text-center mb-2" id="titreDateMultiple" >Dates du congrès</div>
                                            <div class="row " id="plusieursJourInstance">
                                                {{form_row(form_saisie_cr_congres.plusieursJourInstance)}}               
                                            </div>
                                            <div class="row my-1 text-center align-items-center">
                                                <div class="col-3 fw-normal " id="titreDebut">
                                                    Début
                                                </div>
                                                <div class="col-9 text-center" id="dateDebut" >
                                                    {{form_widget(form_saisie_cr_congres.dateInstance)}} 
                                                </div>
                                                {{ form_errors(form_saisie_cr_congres.dateInstance)}} 
                                            </div>     
                                            <div class="row my-1 text-center align-items-center" id="divDateFin">
                                                <div class="col-3 fw-normal">
                                                    Fin
                                                </div>
                                                <div class="col-9" >
                                                    {{form_widget(form_saisie_cr_congres.dateFinInstance)}} 
                                                </div>
                                                {{ form_errors(form_saisie_cr_congres.dateFinInstance)}} 
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="vr px-0 my-2"></div>
                                <!-- Nombre de votants -->
                                <div class="col">
                                    <div class="text-center" >
                                        {{ form_label(form_saisie_cr_congres.nombreVotantsTotal)}}
                                    </div>
                                    <div id="votesChangeant">
                                        {{form_row(form_saisie_cr_congres.nombreVotesChangeant)}}               
                                    </div>
                                    <div id="votesTotal" class="text-center">
                                        {{ form_errors(form_saisie_cr_congres.nombreVotantsTotal)}} 
                                        {{ form_widget(form_saisie_cr_congres.nombreVotantsTotal)}}
                                    </div>
                                </div>
                            </div>
                            <!-- On insère une ligne horizontale -->
                            <div class="row m-0">
                                <hr class="my-0">
                            </div>
                            <div class="row">
                                <!-- Représentants echelon supérieur -->
                                <div id="representantEchelonSuperieur" class="col">
                                    <div class="row text-center">
                                        <div class="fw-bold text-primary text-center col-form-label">Représentant·e(s) de l'échelon national</div>
                                    </div>
                                    
                                    <div class="row absent">
                                        {{form_row(form_saisie_cr_congres.representantEchelonSuperieurAbsent)}}               
                                    </div>
                                    {{form_errors(form_saisie_cr_congres.representantsEchelonSuperieur)}}
                                    <div class="personne">
                                        <ul class="representantsEchelonSuperieur m-0 p-0" id="{{ form_saisie_cr_congres.representantsEchelonSuperieur.vars.id }}"
                                            data-index="{{ form_saisie_cr_congres.representantsEchelonSuperieur|length > 0 ? form_saisie_cr_congres.representantsEchelonSuperieur|last.vars.name + 1 : 0 }}"
                                            data-prototype=" {{ include('form/_form_representant_echelon_superieur.html.twig', { 'representant': form_saisie_cr_congres.representantsEchelonSuperieur.vars.prototype})|e('html_attr') }} "
                                        >
                                            {% for representant in form_saisie_cr_congres.representantsEchelonSuperieur %}
                                                <div class="d-flex flex-row align-items-center flex-wrap">
                                                    {{ include('form/_form_representant_echelon_superieur.html.twig', { 'representant': representant}) }}
                                                </div>
                                            {% endfor %}
                                        </ul>
                                        <button type="button" class=" fw-bold  add_item_link text-center w-100 rounded-pill btn btn-secondary" data-collection-holder-class="representantsEchelonSuperieur">+</button>          
                                    </div>
                                </div>
                                <div class="vr px-0 my-2"></div>
                                <!-- Autonomie de la structure -->
                                <div class="col">
                                    <div class="text-center">
                                        {{form_label(form_saisie_cr_congres.autonomieStructure)}}
                                    </div>
                                    {{form_help(form_saisie_cr_congres.autonomieStructure)}}
                                    {{form_widget(form_saisie_cr_congres.autonomieStructure)}}
                                </div>
                            </div>   
                        </div>
                    {% else %}
                        <div class="contenu-section d-flex align-items-center flex-wrap"> 
                            <div class="col" id="datesInstance" > 
                                <div class="container" > 
                                    <div class="row">
                                        <div id="titreDateUnique" class="text-center" >{{ form_label(form_saisie_cr_congres.dateInstance)}}</div>
                                        <div class="fw-bold text-primary text-center mb-2" id="titreDateMultiple" >Dates du congrès</div>
                                        <div class="row " id="plusieursJourInstance">
                                            {{form_row(form_saisie_cr_congres.plusieursJourInstance)}}               
                                        </div>
                                        <div class="row my-1 text-center align-items-center">
                                            <div class="col-5 fw-normal " id="titreDebut">
                                                Début
                                            </div>
                                            <div class="col-7 text-center" id="dateDebut" >
                                                {{form_widget(form_saisie_cr_congres.dateInstance)}} 
                                            </div>
                                            {{ form_errors(form_saisie_cr_congres.dateInstance)}} 
                                        </div>     
                                        <div class="row my-1 text-center align-items-center" id="divDateFin">
                                            <div class="col-5 fw-normal">
                                                Fin
                                            </div>
                                            <div class="col-7" >
                                                {{form_widget(form_saisie_cr_congres.dateFinInstance)}} 
                                            </div>
                                            {{ form_errors(form_saisie_cr_congres.dateFinInstance)}} 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="vr px-0 my-2"></div>
                            <div class="col container">
                                <div class="text-center" >
                                    {{ form_label(form_saisie_cr_congres.nombreVotantsTotal)}}
                                </div>
                                <div id="votesChangeant">
                                    {{form_row(form_saisie_cr_congres.nombreVotesChangeant)}}               
                                </div>
                                <div class="text-center" id="votesTotal">
                                    
                                    {{ form_errors(form_saisie_cr_congres.nombreVotantsTotal)}} 
                                    {{ form_widget(form_saisie_cr_congres.nombreVotantsTotal)}}
                                </div>
                            </div>
                            <div class="vr px-0 my-2"></div>
                            <!-- Représentants echelon supérieur -->
                            <div id="representantEchelonSuperieur" class="col my-2 container">
                                <div class="row text-center">
                                    <div class="fw-bold text-primary text-center col-form-label">Représentant·e(s) de l'échelon national</div>
                                </div>
                                
                                <div class="row absent">
                                    {{form_row(form_saisie_cr_congres.representantEchelonSuperieurAbsent)}}               
                                </div>
                                {{form_errors(form_saisie_cr_congres.representantsEchelonSuperieur)}} 
                                <div class="personne">
                                    <ul class="representantsEchelonSuperieur m-0 p-0" id="{{ form_saisie_cr_congres.representantsEchelonSuperieur.vars.id }}"
                                        data-index="{{ form_saisie_cr_congres.representantsEchelonSuperieur|length > 0 ? form_saisie_cr_congres.representantsEchelonSuperieur|last.vars.name + 1 : 0 }}"
                                        data-prototype=" {{ include('form/_form_representant_echelon_superieur.html.twig', { 'representant': form_saisie_cr_congres.representantsEchelonSuperieur.vars.prototype})|e('html_attr') }} "
                                    >
                                        {% for representant in form_saisie_cr_congres.representantsEchelonSuperieur %}
                                            <div class="d-flex flex-row align-items-center flex-wrap">
                                                {{ include('form/_form_representant_echelon_superieur.html.twig', { 'representant': representant}) }}
                                            </div>
                                        {% endfor %}
                                    </ul>
                                    <button type="button" class=" fw-bold  add_item_link text-center w-100 rounded-pill btn btn-secondary" data-collection-holder-class="representantsEchelonSuperieur">+</button>          
                                </div>
                            </div>
                        </div>
                    {% endif %} 
                </div>
                <!-- Nombre de votants spécifiques -->
                <div class="my-3" id="nbVotantsSpecifiques">
                    <h6 class="titre-section">Nombre de votant·es</h6>
                    <div class="contenu-section">
                        {{ include('components/_liste_dynamique_lignes_colonnes.html.twig', {
                                'nombreColonnes': 5,
                                'liste_items': form_saisie_cr_congres.nombreVotantsSpecifiques,
                                'path_template_twig':'form/_form_nombre_votants_specifiques.html.twig',
                            }) }}
                    </div>
                </div>
                <!-- Compte rendu des votes -->
                <div class="my-3">
                    <h6 class="titre-section">Compte-rendu des votes</h6>
                    <div class="contenu-section">
                        
                        {% for key, voteInstance in form_saisie_cr_congres.votesInstances %}
                            {% if key % 2 == 0 %}
                                {% if key > 0 %} <!-- On insère une ligne horizontale -->
                                    <div class="row mt-2">
                                        <hr class="my-0">
                                    </div>
                                {% endif %}
                                <!-- On rajoute une ligne -->
                            <div class="row">
                                <div class="col d-flex flex-row align-items-center flex-wrap">
                                    {{ form_errors(voteInstance) }}
                                    {{ include('form/_form_vote.html.twig', { 'vote': voteInstance.vote}) }} 
                                </div>
                                {% if key == (form_saisie_cr_congres.votesInstances | length -1) %} <!-- s'il s'agit de la dernière instance-->
                                    </div><!-- On ferme la row -->
                                {% endif %}
                            {% else %}
                                <div class="vr px-0 my-2"></div><!-- On rajoute une ligne verticale -->
                                <div class="col d-flex flex-row align-items-center flex-wrap">
                                    {{ form_errors(voteInstance) }}
                                    {{ include('form/_form_vote.html.twig', { 'vote': voteInstance.vote}) }} 
                                </div>
                            </div><!-- On ferme la row -->
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
                <!-- Compte rendu des élections --> 
                <div class="my-3">
                    <h6 class="titre-section">Compte-rendu des élections</h6>
                    <div class="contenu-section">
                        <div class="row">
                            <div class="col">
                                {{ form_errors(form_saisie_cr_congres.electionsNominatives)}} 
                                {% set poste = "" %}
                                {% for key, electionNominative in form_saisie_cr_congres.electionsNominatives %}
                                    <div class="row">
                                        {% if poste != electionNominative.vars.value.poste %}
                                            {% set poste = electionNominative.vars.value.poste %}
                                            {% if poste == constant('App\\Entity\\ElectionNominative::POSTE_DELEGUE_AG') %}
                                    </div>
                            </div>
                            <div class="vr px-0 my-2"></div><!--ligne verticale-->
                            <div class="col">
                                {{ include('form/_form_electionEquipe.html.twig', { 'electionEquipe': form_saisie_cr_congres.electionEquipe}) }}  
                            </div>
                        </div>
                        <div class="row m-0"><hr class="my-0"></div><!--ligne horizontale-->
                        <div class="row">
                            <div class="col">
                                <div class="fw-bold text-primary text-center col-form-label">Délégué·es à l’Assemblée Générale</div>
                                <div class="row">
                                            {% elseif poste == constant('App\\Entity\\ElectionNominative::POSTE_SUPPLEANT_AG') %}
                                </div>
                            </div> 
                            <div class="vr px-0 my-2"></div><!--ligne verticale-->
                            <div class="col">  
                                <div class="fw-bold text-primary text-center col-form-label">Délégué·es suppléant·es à l’Assemblée Générale</div>
                                <div class="row">
                                            {% else %}
                                                {% if key > 0 %}<div class="row m-0"><hr class="my-0"></div><!--ligne horizontale-->{% endif %}
                                                <div class="fw-bold text-primary text-center col-form-label">{{electionNominative.vars.value.poste }}</div>
                                            {% endif %}
                                        {% else %}
                                            {% if key > 0 %}
                                                <div class="row m-0"><hr class="my-0"></div><!--ligne horizontale-->
                                            {% endif %}
                                        {% endif %}
                                        {{ include('form/_form_electionNominative.html.twig', { 'electionNominative': electionNominative}) }} 
                                    </div>
                                    
                                {% endfor %}                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Motions -->
                <div class="my-3">
                    <h6 class="titre-section">Motions portées par le congrès régional</h6>
                    <div class="contenu-section">
                        <ul class="motions m-0 py-1"
                            data-index="{{ form_saisie_cr_congres.motions|length > 0 ? form_saisie_cr_congres.motions|last.vars.name + 1 : 0 }}"
                            data-prototype=" {{ include('form/_form_motion.html.twig', { 'motion': form_saisie_cr_congres.motions.vars.prototype})|e('html_attr') }} "
                        >
                            {% for motion in form_saisie_cr_congres.motions %}
                                <div class="d-flex flex-row align-items-center flex-wrap">
                                    {{ include('form/_form_motion.html.twig', { 'motion': motion}) }}
                                </div>
                            {% endfor %}
                        </ul>
                        <button type="button" class=" fw-bold  add_item_link text-center w-100 rounded-pill btn btn-secondary" data-collection-holder-class="motions">+</button>
                    </div>
                </div>
                <div class="my-3">
                    <h6 class="titre-section">Voeux portés par le congrès régional</h6>
                    <div class="contenu-section">
                        <ul class="voeux m-0 py-1"
                            data-index="{{ form_saisie_cr_congres.voeux|length > 0 ? form_saisie_cr_congres.voeux|last.vars.name + 1 : 0 }}"
                            data-prototype=" {{ include('form/_form_voeu.html.twig', { 'voeu': form_saisie_cr_congres.voeux.vars.prototype})|e('html_attr') }} "
                        >
                            {% for voeu in form_saisie_cr_congres.voeux %}
                                <div class="d-flex flex-row align-items-center flex-wrap voeu">
                                    {{ include('form/_form_voeu.html.twig', { 'voeu': voeu}) }}
                                </div>
                            {% endfor %}
                        </ul>
                        <button type="button" class=" fw-bold add_item_link text-center w-100 rounded-pill btn btn-secondary" data-collection-holder-class="voeux">+</button>
                    </div>
                </div>
                <!-- Documents uniquement si le CR a déjà été saisi au moins une fois --> 
                {% if  not (workflow_has_marked_place(compteRendu, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_NON_SAISI'))) %} 
                    <div class="my-3">
                        <h6 class="titre-section">Documents</h6>
                        <div class="contenu-section">
                            <div class="row">
                                <div class="col form-group">
                                    {{form_row(form_saisie_cr_congres.rapportActivites)}}               
                                </div>
                                <div class="vr px-0 mt-2"></div>
                                <div class="col form-group">
                                    {{form_row(form_saisie_cr_congres.rapportFinancier)}}               
                                </div>
                                <div class="vr px-0 mt-2"></div>
                                <div class="col form-group">
                                    {{form_row(form_saisie_cr_congres.rapportMoral)}}               
                                </div>
                            </div>
                            <div class="row m-0">
                                <hr class="my-0">
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    {{form_row(form_saisie_cr_congres.planAction)}}    
                                </div>
                                <div class="vr px-0"></div>
                                <div class="col form-group">
                                    {{form_row(form_saisie_cr_congres.budgetPrevisionnel)}}               
                                </div>
                                <div class="vr px-0"></div>
                            </div>
                            <div class="row m-0">
                                <hr class="my-0">
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    {{form_row(form_saisie_cr_congres.calendrierPrevisionnel)}}               
                                </div>
                                <div class="vr px-0 mb-2"></div>
                                <div class="col form-group">
                                    {{form_row(form_saisie_cr_congres.listeEmargement)}}    
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <a class="etiquette-fin-section" target="_blank" href="{{path('ressources_congres')}}"><strong><small>Documents d'aide</small></strong></a>
                        </div>
                    </div>
                    <!-- Autres documents -->
                    <div class="my-3">
                        <h6 class="titre-section">Autres documents</h6>
                        <div class="contenu-section">
                            <div class="text-center">
                                {{form_errors(form_saisie_cr_congres.autresDocuments)}}
                            </div>
                            <div>
                                <ul class="autresDocuments m-0 p-0" id="{{ form_saisie_cr_congres.autresDocuments.vars.id }}"
                                    data-index="{{ form_saisie_cr_congres.autresDocuments|length > 0 ? form_saisie_cr_congres.autresDocuments|last.vars.name + 1 : 0 }}"
                                    data-prototype=" {{ include('form/_form_autre_document.html.twig', { 'item': form_saisie_cr_congres.autresDocuments.vars.prototype})|e('html_attr') }} "
                                >
                                    {{ include('components/_liste_dynamique_lignes_colonnes.html.twig', {
                                        'nombreColonnes': 3,
                                        'liste_items': form_saisie_cr_congres.autresDocuments,
                                        'path_template_twig':'form/_form_autre_document.html.twig',
                                    }) }}
                                </ul>
                                <button type="button" class=" fw-bold  add_item_link_quadrant text-center w-100 rounded-pill btn btn-secondary" data-collection-holder-class="autresDocuments">+</button>          
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Commentaire sur la tenue de l'instance élective --> 
                <div class="my-3">
                    <div class="row">
                        <div class="col me-3">
                            <h6 class="titre-section">Commentaire sur la tenue de l'instance élective</h6>
                            <div class="contenu-section">
                                {{form_widget(form_saisie_cr_congres.commentaireTenueInstance)}}  
                            </div>
                        </div>
                        <div class="col ms-3">
                            <h6 class="titre-section">Commentaire à destination de la personne validatrice</h6>
                            <div class="contenu-section">
                                {{form_widget(form_saisie_cr_congres.commentaireDestinationValidation)}}  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             
            <div class="col d-flex flex-row-reverse align-items-center">
                {{form_row(form_saisie_cr_congres.save)}}    
            </div>
        {{form_end(form_saisie_cr_congres)}}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    const addRoleEquipeElueFormDeleteLink = (item) => {
        const removeFormButton = document.createElement('button');
        removeFormButton.innerText = '-';
        removeFormButton.className += ' fw-bold btn btn-secondary rounded-pill'

        item.append(removeFormButton);

        removeFormButton.addEventListener('click', (e) => {
            e.preventDefault();
            // remove the div for the RoleEquipeElue form
            item.remove();
        });
    }
    const addItemFormDeleteLinkForQuadrant = (item) => {
        const removeFormButton = document.createElement('button');
        removeFormButton.innerText = '-';
        removeFormButton.className += ' fw-bold btn btn-secondary rounded-pill'

        item.append(removeFormButton);

        removeFormButton.addEventListener('click', (e) => {
            e.preventDefault();
            // remove the div for the RoleEquipeElue form
            //si c'est le seul item de la row, on supprime la row et la barre horizontal d'avant (si elle existe)

            //sinon, on supprime l'item et la barre verticale d'avant (si elle existe, sinon celle f'apres)
            var barreV = item.previousElementSibling
            var barreVApres = item.nextElementSibling

            var rowCourante=item.parentElement
            var barreH = rowCourante.previousElementSibling
            var barreHApres = rowCourante.nextElementSibling


            if(!barreV && !barreVApres)
            {
                if(barreH)
                {
                    barreH.remove();
                }else{
                    if(barreHApres)
                    {
                        barreHApres.remove();
                    }
                }
                rowCourante.remove();
            }else{
                if(barreV)
                {
                    barreV.remove();
                }else{
                    if(barreVApres)
                    {
                        barreVApres.remove();
                    }
                }
                item.remove();
            }
            $(".add_item_link_quadrant[data-collection-holder-class='autresDocuments']").prop('disabled', false);
        });
    }
    const addFormToCollection = (e) => {
        ajoutFormToCollection(e.currentTarget.dataset.collectionHolderClass, true)
    }
        const addFormToCollectionQuadrant = (e) => {
        ajoutFormToCollectionQuadrant(e.currentTarget.dataset.collectionHolderClass, true)
    }

    document
    .querySelectorAll('.add_item_link')
    .forEach(btn => {
        btn.addEventListener("click", addFormToCollection)
    });

    document
    .querySelectorAll('.add_item_link_quadrant')
    .forEach(btn => {
        btn.addEventListener("click", addFormToCollectionQuadrant)
    });


    $(document).ready(function() {
        // add a delete link to all of the existing tag form li elements
        $(".rolesEquipeElue > div").each(function() {
            addRoleEquipeElueFormDeleteLink(this);
        });
        $(".representantsEchelonSuperieur > div").each(function() {
            addRoleEquipeElueFormDeleteLink(this);
        });
        if($(".representantsEchelonSuperieur > div").length ==0)
        {
            ajoutFormToCollection("representantsEchelonSuperieur", false);
        }
        $(".motions > div").each(function() {
            addRoleEquipeElueFormDeleteLink(this);
        });
        $(".voeux > div.voeu").each(function() {
            addRoleEquipeElueFormDeleteLink(this);
        });
                $(".autresDocuments div.autre_doc ").each(function() {
            addItemFormDeleteLinkForQuadrant(this);
        });
        if($(".autresDocuments").data('index') >5)
        {
            $(".add_item_link_quadrant[data-collection-holder-class='autresDocuments']").prop('disabled', true);
        }
    });
    function ajoutFormToCollectionQuadrant($collectionHolderClass, avecBoutonDelete)
    {
        const nbColonnes=3;
        console.log("[ajoutFormToCollectionQuadrant]Begin "+$collectionHolderClass)
        const collectionHolder = document.querySelector('.' + $collectionHolderClass);
        console.log("[ajoutFormToCollection]Index "+collectionHolder.dataset.index)
        const item = document.createElement('div');
        item.className += "col d-flex flex-row align-items-center flex-wrap"
        item.className += ('item_' + $collectionHolderClass)
        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
            /__name__/g,
            collectionHolder.dataset.index
            );

        if (collectionHolder.dataset.index % nbColonnes == 0 )
        {
            if (collectionHolder.dataset.index > 0 )
            {
                var ligneH= document.createElement('div')
                ligneH.className += "row mt-2"
                ligneH.innerHTML ='<hr class="my-0"><!-- ligne horizontale -->'
                collectionHolder.appendChild(ligneH);
            }
             var row= document.createElement('div')
             row.className += "row"
             row.appendChild(item);
             collectionHolder.appendChild(row);
            
        }else{
            var rows=collectionHolder.querySelectorAll(".row");
            var ligneV= document.createElement('div')
            ligneV.className += "vr px-0 my-2"
            rows[rows.length -1].appendChild(ligneV);
            rows[rows.length -1].appendChild(item);
        }

        collectionHolder.dataset.index++;
        if(avecBoutonDelete)
        {
            addItemFormDeleteLinkForQuadrant(item);
        }
        items=collectionHolder.querySelectorAll(".autre_doc")
        if(items.length >5)
        {
            $(".add_item_link_quadrant[data-collection-holder-class="+$collectionHolderClass+" ]").prop('disabled', true);
        }
            
        console.log("[ajoutFormToCollectionQuadrant]End "+$collectionHolderClass)
    }
    function ajoutFormToCollection($collectionHolderClass, avecBoutonDelete)
    {
        const collectionHolder = document.querySelector('.' + $collectionHolderClass);

        const item = document.createElement('div');
        item.className += "d-flex flex-row align-items-center flex-wrap"
        item.innerHTML = collectionHolder
            .dataset
            .prototype
            .replace(
            /__name__/g,
            collectionHolder.dataset.index
            );

            collectionHolder.appendChild(item);
            collectionHolder.dataset.index++;
            if(avecBoutonDelete)
            {
                addRoleEquipeElueFormDeleteLink(item);
            }

        //On initialise le ckeditor s'il yen a un
        item
        .querySelectorAll('.ckeditor')
        .forEach(textarea => {
            CKEDITOR.replace( textarea.id );
        });
        //On gère l'affichage de l'abstention pour les votes des motions et voeux
        gestionAbstentionVote( $(item).find(".voteNonNominatif"))
    }

</script>
<script>
    $(document).ready(function() {
        gestionNaPasEuLieu() 
    })
    function gestionNaPasEuLieu()
    {
        var $checkBoxNaPasEuLieu=$(".naPasEuLieu");
        var $divCompteRenduEffectif=$(".compteRenduEffectif");
        var $submitButton =$(".save div button");
        var $texteButtonSubmitOrigine=$submitButton.text();
        afficherMasquerNaPasEuLieu();
        $checkBoxNaPasEuLieu.on('click', "input[type=checkbox]", function() {
            afficherMasquerNaPasEuLieu();
        });

        function afficherMasquerNaPasEuLieu()
        {
            if($checkBoxNaPasEuLieu.find("input[type=checkbox]").prop( "checked" )) {
                console.log("gestionNaPasEuLieu[checked]")
                desactiverEtMasquerDivForm($divCompteRenduEffectif)
                $submitButton.text("Enregistrer")
            }else{
                console.log("gestionNaPasEuLieu[pas de checkbox]")
                activerEtAfficherDivForm($divCompteRenduEffectif)
                $submitButton.text($texteButtonSubmitOrigine)

                $('.electionNominative').each(     
                    function() {gestionVoteNominatif($(this))}
                )
                $('.voteNonNominatif').each(     
                    function() {
                        gestionAbstentionVote($(this))
                    }
                )
                gestionRepresentantEchelonSuperieur($('#representantEchelonSuperieur'))
                gestionDatesInstance($('#datesInstance'))
                gestionNombreVotantsSpecifiques()

                
            }
        }
    }
    function gestionVoteNominatif($divVoteNominatif)
    {
        console.log("gestionVoteNominatif[Start]")
        
        var $checkBoxPasElection=$divVoteNominatif.find(".pasElection");
        var $checkBoxDejaElu=$divVoteNominatif.find(".dejaElu");
        var $selectionPersonne=$divVoteNominatif.find(".personne");
        var $vote=$divVoteNominatif.find(".vote");
        afficherMasquerVoteNominatif();

        $divVoteNominatif.on('click', "input[type=checkbox]", function() {
            afficherMasquerVoteNominatif();
        });

        function afficherMasquerVoteNominatif()
        {
            if($checkBoxPasElection.find("input[type=checkbox]").prop( "checked" )) {
                console.log("gestionVoteNominatif[checkBoxPasElection.checked]")
                desactiverEtMasquerDivForm($selectionPersonne)
                desactiverEtMasquerDivForm($vote)
                desactiverEtMasquerDivForm($checkBoxDejaElu)
                
            }else if($checkBoxDejaElu.find("input[type=checkbox]").prop( "checked" )){
                console.log("gestionVoteNominatif[checkBoxDejaElu.checked]")
                desactiverEtMasquerDivForm($selectionPersonne)
                desactiverEtMasquerDivForm($vote)
                desactiverEtMasquerDivForm($checkBoxPasElection)
            }else{
                console.log("gestionVoteNominatif[pas de checkbox]")
                activerEtAfficherDivForm($selectionPersonne)
                activerEtAfficherDivForm($vote)
                activerEtAfficherDivForm($checkBoxPasElection)
                activerEtAfficherDivForm($checkBoxDejaElu)
            }
        }
    }
    function gestionRepresentantEchelonSuperieur($divRepresentant)
    {
        var $checkBoxRepresentantAbsent=$divRepresentant.find(".absent");
        var $selectionPersonne=$divRepresentant.find(".personne");
        afficherMasquerRepresentantEchelon();
        $divRepresentant.on('click', "input[type=checkbox]", function() {
            afficherMasquerRepresentantEchelon();
        });

        function afficherMasquerRepresentantEchelon()
        {
            if($checkBoxRepresentantAbsent.find("input[type=checkbox]").prop( "checked" )) {
                console.log("gestionRepresentantEchelonSuperieur[checked]")
                desactiverEtMasquerDivForm($selectionPersonne)
            }else{
                console.log("gestionRepresentantEchelonSuperieur[pas de checkbox]")
                activerEtAfficherDivForm($selectionPersonne)
            }
        }
    }

    function gestionNombreVotantsSpecifiques()
    {
        console.log("gestionNombreVotantsSpecifiques[begin]")
        var $checkBoxNombreVotantsChange=$("#votesChangeant");
        var $divNombreVotantsSpecifiques=$("#nbVotantsSpecifiques");
        var $nombreVotantsTotal=$("#votesTotal");
        afficherMasquerNombreVotantsSpecifiques();
        $checkBoxNombreVotantsChange.on('click', "input[type=checkbox]", function() {
            afficherMasquerNombreVotantsSpecifiques();
        });

        function afficherMasquerNombreVotantsSpecifiques()
        {
            if($checkBoxNombreVotantsChange.find("input[type=checkbox]").prop( "checked" )) {
                console.log("gestionNombreVotantsSpecifiques[checked]")
                activerEtAfficherDivForm($divNombreVotantsSpecifiques)
                $nombreVotantsTotal.find("input").prop('disabled', true);
                $nombreVotantsTotal.find("input").val("");
            }else{
                console.log("gestionNombreVotantsSpecifiques[pas de checkbox]")
                desactiverEtMasquerDivForm($divNombreVotantsSpecifiques)
                $nombreVotantsTotal.find("input").prop('disabled', false);
                $('.nbVotantsSpecifique input').each(     
                    function() {
                        //On remet à 0 les valeurs de nombre de votants spécifiques
                        $(this).val("")
                    }
                )

            }
            //On recalcule les abstentions
            $('.voteNonNominatif').each(     
                function() {gestionAbstentionVote($(this))}
            )
        }
        console.log("gestionNombreVotantsSpecifiques[end]")
    }
    
    function gestionDatesInstance($divDates)
    {
        var $checkBoxPlusieursDates=$divDates.find("#plusieursJourInstance");
        var $titreDateUnique=$divDates.find("#titreDateUnique");
        var $titreDateMultiple=$divDates.find("#titreDateMultiple");
        var $titreDebut=$divDates.find("#titreDebut");
        var $divDateFin=$divDates.find("#divDateFin");
        var $dateDebut=$divDates.find("#dateDebut");
        afficherMasquerPlusieursDates();
        $divDates.on('click', "input[type=checkbox]", function() {
            afficherMasquerPlusieursDates();
        });

        function afficherMasquerPlusieursDates()
        {
            if($checkBoxPlusieursDates.find("input[type=checkbox]").prop( "checked" )) {
                console.log("gestionDatesInstance[checked]")
                activerEtAfficherDivForm($titreDateMultiple)
                desactiverEtMasquerDivForm($titreDateUnique)
                activerEtAfficherDivForm($titreDebut)
                activerEtAfficherDivForm($divDateFin)
                $dateDebut.addClass( "col-7" )
            }else{
                console.log("gestionDatesInstance[pas de checkbox]")
                desactiverEtMasquerDivForm($titreDateMultiple)
                $dateDebut.removeClass( "col-7" )
                activerEtAfficherDivForm($titreDateUnique)
                desactiverEtMasquerDivForm($titreDebut)
                desactiverEtMasquerDivForm($divDateFin)
            }
        }
    }
    function gestionAbstentionVote($divVote)
    {
        console.log("[gestionAbstentionVote] Begin")
        var $checkBoxNombreVotantsChange=$("#votesChangeant");
        var $divNombreVotants=""
        if($checkBoxNombreVotantsChange.find("input[type=checkbox]").prop( "checked" ))
        {
            console.log("[gestionAbstentionVote] Nombre votes changeant")
            $categorie = $divVote.find(".favorables input").first().data('categorie')
            $divNombreVotants=$("input[data-categorie='" + $categorie +"']");

        }else{
           $divNombreVotants= $("#votesTotal  input")
        }
        $divVotesFavorables=$divVote.find(".favorables input").first()
        $divVotesDefavorables=$divVote.find(".defavorables input").first()
        $divVotesBlancs=$divVote.find(".blancs input").first()
        calculAbstention($divNombreVotants)
        //Si le nombre votants change
        $divNombreVotants.on("change paste keyup", function(){
            calculAbstention($divNombreVotants);
        });
        //Si le nombre de votes blancs change
        $divVotesBlancs.on("change paste keyup", function(){
            calculAbstention($divNombreVotants);
        });
        //Si le nombre de votes contre change
        $divVotesFavorables.on("change paste keyup", function(){
            calculAbstention($divNombreVotants);
        });
        //Si le nombre de votes contre change
        $divVotesDefavorables.on("change paste keyup", function(){
            calculAbstention($divNombreVotants);
        });


        //Calcul de l'abestention dynamique en fonction du nombre:
        // de votants
        // de votes blancs
        // de votes pour
        // de votes contre        
        function calculAbstention($divNombreVotants)
        {

            $divVotesFavorables=$divVote.find(".favorables input").first()
            $divVotesDefavorables=$divVote.find(".defavorables input").first()
            $divVotesBlancs=$divVote.find(".blancs input").first()
            $inputAbstention=$divVote.find(".abstention")
            $valueNbVotants=$divNombreVotants.val()
            $valueVotesFavorables=$divVotesFavorables.val()
            $valueVotesDefavorables=$divVotesDefavorables.val()
            $valueVotesBlancs=$divVotesBlancs.val()


            if($.isNumeric($valueNbVotants) && $.isNumeric($valueVotesFavorables) && $.isNumeric($valueVotesDefavorables) && $.isNumeric($valueVotesBlancs))
            {
                if($valueNbVotants >= (Number($valueVotesFavorables) + Number($valueVotesDefavorables) + Number($valueVotesBlancs)))
                {
                    $valeurAbstention=$valueNbVotants - (Number($valueVotesFavorables) + Number($valueVotesDefavorables) + Number($valueVotesBlancs))
                    $inputAbstention.removeAttr('style')
                }else{
                    $valeurAbstention="Err."
                    $inputAbstention.css("color", "red")
                }
                $inputAbstention.val($valeurAbstention)
            }else{
                $inputAbstention.val("")
            }
            
        }
        console.log("[gestionAbstentionVote] End")

    }
</script>
{% endblock %}
