{% extends 'base.html.twig' %}

{% block title %}Documents ressources pour les APL{% endblock %}

{% block body %}

<div class="wrapper">
    <div class="container">
        <div class="my-5">
            <h1>Documents ressources pour les APL</h1>
        </div>
        <div class="row mb-5 row-cols-3 g-5">
        {% for key,document in documents %}
                <div class="col fw-bold ">
                    <div class="position-relative px-3 card bg-primary border-0 text-center rounded-4 text-light align-middle ">
                        <div class="card-body">
                            <div class="card-title ">{{document.titre}}</div>
                        </div>
                        <div class="img-fluid  border-0 bg-secondary text-secondary position-absolute bottom-0 end-0  text-center " style="z-index: -1;">
                            <div>Ne sera pas affiché</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        {% if document.typeDocument == constant('App\\Entity\\DocumentRessource::TYPE_DOCUMENT_FICHIER') %}
                                <a class=" text-decoration-none py-1 px-3 my-0 d-inline-block rounded-bottom-4 border-0 bg-secondary text-center text-dark" target='_blank' href="{{ vich_uploader_asset(document.document) }}">
                                    Télécharger
                                </a>
                            {% else %}
                                <a class=" w-25 text-decoration-none py-1 px-2 my-0 d-inline-block rounded-bottom-4 border-0 bg-secondary text-center text-dark" target='_blank' href="{{document.lien}}">
                                    Voir
                                </a>
                            {% endif %}
                    </div>
                    
                </div>
        {% endfor %} 
        </div>
    </div>
    <img src="{{ asset('images/pluie_verte.svg') }}" style="z-index: -1;" class="img-fluid position-absolute bottom-0 end-0  " alt="Responsive image">
</div>
{% endblock %}
