{% extends 'base.html.twig' %}
{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5"><h1>Mentions légales</h1></div>
    ACOMPLETER
</div>
{% endblock %}


