// assets/styles/global.scss


@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


$yellow: #E8D234 !default;
$bleu: #00A3A8 !default;
$orange: #EF7D2C !default;
$blanc: #FFFFFF !default;
$gris: #707070 !default;
$gris-clair: #F2F2F2 !default;


$primary: $bleu !default;
$secondary: $yellow !default;
$warning: $orange !default;
$light: $blanc !default;
$info: $gris-clair !default;
$dark: $gris !default;


//Pour le select dans la nav bar,

$form-select-bg: $light !default;




$font-family-sans-serif: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace: "Open Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$headings-font-family: 'Amaranth' !default;


$position-values: (
    0: 0,
    10: 10%,
    30: 30%,
    50: 50%,
    85: 85%,
    90: 90%,
    100: 100%
);


@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3";
$input-border-radius: 1em !default;
$input-color: $primary !default;
$input-border-color: $dark !default;
$input-placeholder-color: $info !default;




//Datepicker
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.highlighted:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover {
    background-color: $secondary;
    border-color: #204d74;
    color: $info;
}

.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th {
    cursor: pointer;
    color: $primary
}

//Pour les formulaires:




// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~tom-select/src/scss/tom-select.bootstrap5";






h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    color: $primary;
}

.form-label {
    color: $primary;
    font-weight: bold;
}

.nav-link,
.nav-item {
    font-family: $headings-font-family;
    text-transform: uppercase;
}

.menu-social li {
    float: left;
    position: relative;
}

.menu-social li a {
    display: block;
    width: 34px;
    height: 34px;
    margin: 0 4px;
    border-radius: 50%;
    fill: $primary;
}


.menu-social li a:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    background-size: cover;
    height: 25px;
    content: "";
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.menu-social li.facebook a:before {
    background: url("/public/images/logo_reseaux_sociaux/Icon_facebook.svg") center no-repeat;
    background-size: contain;
    height: 18px;
}

.menu-social li.twitter a:before {
    background: url("/public/images/logo_reseaux_sociaux/Icon_twitter.svg") center no-repeat;
    background-size: contain;
    width: 16px;
}

.menu-social li.youtube a:before {
    background: url("/public/images/logo_reseaux_sociaux/Icon_youtube.svg") center no-repeat;
    background-size: contain;
    height: 22px;
}

.menu-social li.spotify a:before {
    background: url("/public/images/logo_reseaux_sociaux/Icon_spotify.svg") center no-repeat;
    background-size: contain;
    width: 34px;
    height: 34px;
}

.menu-social li.instagram a:before {
    background: url("/public/images/logo_reseaux_sociaux/Icon_instagram.svg") center no-repeat;
    background-size: contain;
    height: 19px;
}

.menu-social li.linkedin a:before {
    background: url("/public/images/logo_reseaux_sociaux/Icon_linkedin.svg") center no-repeat;
}

.bandeau_actions_rapides {

    background-color: $yellow-200;
    ;
    width: 100%;
    margin-bottom: 1rem;
}

.fond_accueil {
    background: url('/public/images/fond_accueil.png');
    background-color: $primary;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-attachment: fixed;
}

.fond_assemblee {
    background: url('/public/images/photo_assemblee.jpg');
    background-color: #97cc54;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    height: 17em;
}

.logo_eedf {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 25px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: url('/public/images/logo-eedf-blanc.svg');
}

.dropdown-toggle:after {
    border: solid;
    border-width: 0 0.2em 0.2em 0;
    display: inline-block;
    padding: 0.1em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


#gestion_perimetre .form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
}

input.form-control {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    width: fit-content;
}

.titre-section {
    border-top-left-radius: var(--bs-border-radius-xl) !important;
    border-top-right-radius: var(--bs-border-radius-xl) !important;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
    text-transform: uppercase !important;
    text-align: center !important;
    padding: 1rem !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border-bottom: 0 !important;
    display: inline-block !important;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.contenu-section {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    padding-bottom: .5rem !important;
    padding-top: .5rem !important;
    box-shadow: var(--bs-box-shadow-sm) !important;
}

.etiquette-fin-section {
    border-bottom-left-radius: var(--bs-border-radius-xl) !important;
    border-bottom-right-radius: var(--bs-border-radius-xl) !important;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
    text-decoration: none !important;
    padding: 0.7rem !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border-top: 0 !important;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    display: inline-block !important;
}