{% extends 'base.html.twig' %}

{% block title %}Droits de {{personne.prenom}} {{personne.nom}}{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5"><h1>Droits de {{personne.prenom}} {{personne.nom}}</h1></div>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message | raw }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message | raw }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message | raw }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Liste des droits automatiques existants</h6>
                    <div class="contenu-section">
                        <table class=" table table-striped">
                            <thead>
                                <th class="pb-0 px-0  bg-info" >
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Droit</div>
                                </th>
                                <th class="pb-0 px-0  bg-info">
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Structure</div>
                                </th>
                            </thead>
                            <tbody>       
                                {% for droitAuto in droitsAutos %}
                                    <tr>
                                        <td>{{ constant('App\\Service\\DroitsHelper::ARRAY_DROITS')[droitAuto.droit] }}</td>
                                        <td>{{ droitAuto.structure.nom }}</td>
                                    </tr>
                                {% else %}
                                    <tr>Il n'y a aucun droit automatique</tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Liste des droits manuels existants</h6>
                    <div class="contenu-section">
                        <table class=" table table-striped">
                            <thead>
                                <th class="pb-0 px-0  bg-info" >
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Droit</div>
                                </th>
                                <th class="pb-0 px-0  bg-info">
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Structure</div>
                                </th>
                                <th class="pb-0 px-0  bg-info">
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Date d'expiration</div>
                                </th>
                                <th class="pb-0 px-0  bg-info"></th>
                            </thead>
                            <tbody>       
                                {% for droitManuel in droitsManuels %}
                                    <tr>
                                        <td>{{ constant('App\\Service\\DroitsHelper::ARRAY_DROITS')[droitManuel.droit] }}</td>
                                        <td>{{ droitManuel.structure.nom }}</td>
                                        <td>{{ droitManuel.dateExpiration|format_datetime(pattern="d/MM/y", locale='fr') }}</td>
                                        <td>
                                            <a class="btn btn-outline-secondary text-dark rounded" href="{{path('administration_supprimer_droit_manuel_personne', {'personne': personne.id, 'droitManuel': droitManuel.id })}}">Supprimer</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>Il n'y a aucun droit manuel</tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Nouveau droit</h6>
                    <div class="contenu-section">
                        {{form_start(formDroitManuelPersonne)}}
                            {{form_row(formDroitManuelPersonne.structure)}}
                            {{form_row(formDroitManuelPersonne.duree)}}
                            {{form_row(formDroitManuelPersonne.droit)}}
                             <div class="col d-flex flex-row-reverse align-items-center">
                            {{form_widget(formDroitManuelPersonne.save)}}
                        </div>
                        {{form_end(formDroitManuelPersonne)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

