{% extends 'base.html.twig' %}

{% block title %}Gestion des droits fins pour une personne{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5"><h1>Gestion des droits fins pour une personne</h1></div>
    <div class="container">
        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Sélection de la personne</h6>
                    <div class="contenu-section">
                        {{form_start(formSelectionPersonne)}}
                            {{form_row(formSelectionPersonne.personne)}}
                            <div class="col d-flex flex-row-reverse align-items-center">
                                {{form_widget(formSelectionPersonne.save)}}
                            </div>
                        {{form_end(formSelectionPersonne)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

