{% extends 'base.html.twig' %}

{% block title %}Gestion des droits fins pour une structure{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5"><h1>Gestion des droits fins pour une structure</h1></div>
    <div class="container">
        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Sélection de la structure</h6>
                    <div class="contenu-section">
                        {{form_start(formSelectionStructure)}}
                            {{form_row(formSelectionStructure.structure)}}
                            <div class="col d-flex flex-row-reverse align-items-center">
                            {{form_widget(formSelectionStructure.save)}}
                            </div>
                        {{form_end(formSelectionStructure)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

