<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Agora{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }} 
        {% endblock %}


    </head>
    <body>
        <div class="">
            {{ include('components/navbar.html.twig') }}
        </div>
        
        <main class="position-relative">
            {% block body %}{% endblock %}
        </main>
        <footer class="bg-primary text-light wrapper py-3">
            <div class="row ">
                <div class=" col-2 text-light  d-flex justify-content-evenly">
                    <img src="{{ asset('images/logo-eedf-blanc-2.svg') }}" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-3 text-light vstack d-flex justify-content-evenly">
                    <p><b>Siège national</b></p>

                        <span>12 place Georges Pompidou</span>
                        <span>93167 Noisy-le-Grand Cedex</span>
                        <span>Tél : 01 48 15 17 66</span>
                        <span>accueil.national@eedf.fr</span>
                    
                </div>
                <div class="col-3 text-light vstack d-flex justify-content-evenly">
                    <a class= "text-light" href="{{ url_portail }}">Retour portail adhérent</a>
                    <a class= "text-light" href="{{ path('privacy') }}">Mentions légales</a>
                    <a class= "text-light" href="{{ path('support') }}">Contacter l'équipe support</a>
                </div>
                <div class="col-4 text-light vstack d-flex justify-content-evenly">
                    <ul class="m-0 menu-social list-inline list-unstyled">
                        <li class="list-inline-item facebook text-primary"><a href="https://www.facebook.com/EEDF.pageofficielle/" class="bg-light" target="_blank" title="Suivez nous sur Facebook"></a></li>
                        <li class="list-inline-item twitter"><a href="https://twitter.com/EEDF_officiel" class="bg-light" target="_blank" title="Suivez nous sur Twitter"></a></li>
                        <li class="list-inline-item youtube"><a href="https://www.youtube.com/channel/UCIqifCJDDpkQ1mYkQFVpaaw" class="bg-light" target="_blank" title="Suivez nous sur Youtube"></a></li>
                        <li class="list-inline-item instagram"><a href="https://www.instagram.com/eedf_officiel/" class="bg-light" target="_blank" title="Suivez nous sur Instagram"></a></li>
                        <li class="list-inline-item linkedin"><a href="https://www.linkedin.com/company/eclaireuses-eclaireurs-de-france-eedf-/" class="bg-light" target="_blank" title="Suivez nous sur Linkedin"></a></li>
                        <li class="list-inline-item spotify"><a href="https://open.spotify.com/user/31qzg6vbrh7t2xkmvy5dan5fphl4?si=d47a9846d3ec42aa" class="bg-primary" target="_blank" title="Suivez nous sur Spotify"></a></li>
                        <span class="clear"></span>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="{{ asset('js/utils.js') }}"></script>
    <script>
    
        $(document).ready(function () {
            $('#selection_perimetre').on('change', function() {
                
                $formSelectionPerimetre=$(this).closest('form');
                $.ajax({
                    type: "POST",
                    url : $formSelectionPerimetre.attr('action'),
                    data: $formSelectionPerimetre.serialize()
                })
                .done(
                    function(data) {
                        window.location.replace( $("#gestion_perimetre").data('reload')); 
                    }
                )
            });
            //Pour les selections de structure sur les homepage
            $('#resume_structure').on('change', function() {
                $formResumeStructure=$(this).find('form');
                $spinner=$(this).find('#load');
                $spinner.removeClass('d-none');
                $spinner
                console.log($formResumeStructure.prop('action'))
                $.ajax({
                    type: "POST",
                    url : $formResumeStructure.attr('action'),
                    data: $formResumeStructure.serialize()
                })
                .done(
                    function(data) {
                        $('#resume_structure').empty().append(data)
                    }
                )
            });
            //Pour les selections de structure et saison sur les pages d'archive
            $('#resume_archive').on('change', function() {
                $formResumeArchive=$(this).find('form');
                $spinner=$(this).find('#load');
                $spinner.removeClass('d-none');
                $spinner
                console.log($formResumeArchive.prop('action'))
                $.ajax({
                    type: "POST",
                    url : $formResumeArchive.attr('action'),
                    data: $formResumeArchive.serialize()
                })
                .done(
                    function(data) {
                        $('#resume_archive').empty().append(data)
                    }
                )
            });
            //Pour les selections de structure les pages de résumé des APL
            $('#resume_apl').on('change', function() {
                $formResumeAPL=$(this).find('form');
                $spinner=$(this).find('#load');
                $spinner.removeClass('d-none');
                $spinner
                console.log($formResumeAPL.prop('action'))
                $.ajax({
                    type: "POST",
                    url : $formResumeAPL.attr('action'),
                    data: $formResumeAPL.serialize()
                })
                .done(
                    function(data) {
                        $('#resume_apl').empty().append(data)
                    }
                )
            });
            //Pour la sélection des attribution de fonction à terminer
            $('form').on('change','#fin_fonction_personne_autocomplete, #fin_fonction_mandatElectif', function() {

                let $field = $(this)
                let $personneField = $('#fin_fonction_personne_autocomplete')
                let $formFinFonction = $field.closest('form')
                let target = '#' + $field.attr('id').replace('_mandatElectif', '_dateFinMandat').replace('_personne_autocomplete', '_mandatElectif')
                let data = {}
                data[$personneField.attr('name')] = $personneField.val()
                data[$field.attr('name')] = $field.val()
                
                $spinner=$("#fin_mandat_electif").find('#load');
                $spinner.removeClass('d-none');
                $.ajax({
                    type: "POST",
                    url : $formFinFonction.attr('action'),
                    data: data
                })
                .done(
                    function(data) {
                        $spinner.addClass('d-none');
                        let $input = $(data).find(target)
                        $(target).before($input).detach();


                        $('#fin_mandat_electif .datepicker').datepicker({
                            format: "dd-mm-yyyy",
                            maxViewMode: 2,
                            todayBtn: "linked",
                            language: "fr",
                            forceParse: false
                        });

                    }
                )
            });
        })
    </script>
{% endblock %}