<div class="col text-center">
        <div class="container vstack">
        <span class="fw-bold text-primary text-center col">{{item.titre}}</span>
        {{ include('components/_document.html.twig', {
                'document': item.document
        }) }}  
        </div>
</div>