{% if boutonsAccesRapide|length > 0 %}
    <div class="text-center bandeau_actions_rapides my-0 p-3">
        <div class="py-3"><b>Accès rapide,</b> actions courantes</div>
        <div class="m-3 d-flex flex-row align-items-center justify-content-evenly">
            {% for donneeBouton in boutonsAccesRapide %}
                <a class="btn btn-light rounded " href="{{donneeBouton.path}}">{{donneeBouton.texte|raw}}</a>
            {% endfor %}
        </div>
    </div>
{% endif %}