{% if document and document.documentSize  %}
<a target='_blank' href="{{ vich_uploader_asset(document) }}">
    Télécharger
</a>
{% else %}   
    <span class="fw-lighter fst-italic text-warning">Non renseigné</span>    
{% endif %}  