
<div class="electionNominative container vstack">
    {% if electionNominative.personne %}
          
          <div class=" mx-2 personne row">
               {% if electionNominative.poste in constant('App\\Entity\\ElectionNominative::LISTE_POSTES_ELECTIFS_PLUS_18_ANS') %}
                    {% if electionNominative.status == constant('App\\Entity\\ElectionNominative::STATUS_VALIDE') %} 
                         <span class="mx-auto badge rounded-pill bg-success">Nommé·e</span>
                    {% elseif electionNominative.status == constant('App\\Entity\\ElectionNominative::STATUS_REFUSE') %}  
                         <span class="col badge rounded-pill bg-danger">Non nommé·e</span>
                    {% endif %}
               {% endif %}
               <div>
                    <span class="px-3 text-primary border bg-light rounded-pill">{{electionNominative.personne.prenom}} {{electionNominative.personne.nom}}</span>  
               </div>   
          </div>

          {{ include('components/_voteNominatif.html.twig', { 'vote': electionNominative.vote}) }}  

     {% else %}
          {% if electionNominative.pasDElection %}
               <span class="fw-lighter fst-italic text-warning">La mission est vacante</span>
          {% elseif electionNominative.dejaElu %}
               {% set saisonPrecedente = electionNominative.compteRendu.saison.saisonPrecedente %}
               {% if saisonPrecedente %}
                    {% if electionNominative.compteRendu.structure.getCompteRenduInstancePourSaison(saisonPrecedente) %}
                         {% set electionNominativeAnneePrecedente = electionNominative.compteRendu.structure.getCompteRenduInstancePourSaison(saisonPrecedente).getElectionsNominativesPourPoste(electionNominative.poste).first() %}
                         {% if
                              electionNominativeAnneePrecedente
                              and electionNominativeAnneePrecedente.status == constant('App\\Entity\\ElectionNominative::STATUS_VALIDE')
                              and electionNominativeAnneePrecedente.personne
                         %}
                              <span class="fw-lighter fst-italic text-warning">Déjà élu·e en {{saisonPrecedente.nom}} ({{electionNominativeAnneePrecedente.personne.prenom}} {{electionNominativeAnneePrecedente.personne.nom}})</span>
                         {% else %}
                              <span class="fw-lighter fst-italic text-warning">Déjà élu·e en {{saisonPrecedente.nom}}</span>
                         {% endif %}
                    {% else %}
                         <span class="fw-lighter fst-italic text-warning">Déjà élu·e en {{saisonPrecedente.nom}}</span>
                    {% endif %}
               {% else %}
                    <span class="fw-lighter fst-italic text-warning">Déjà élu·e l'an dernier</span>
               {% endif %}
          {% else %}
               <span class="fw-lighter fst-italic text-warning">Pas de vote</span>
          {% endif %}
     {% endif %}
</div>