{% if electionEquipe and electionEquipe.roles|length > 0 %}
    <ul class="m-0 p-0">
        {% for role in electionEquipe.roles %}
            {{ include('components/_roleEquipeElue.html.twig', { 'role': role}) }}
        {% endfor %}
    </ul>
    <div>
        {% if compteRendu.typeInstance == constant('App\\Entity\\CompteRenduInstance::TYPE_CONGRES') %}
            {{ include('components/_vote.html.twig', { 'vote': electionEquipe.vote, 'nombreVotants': compteRendu.nombreVotantsPourCategorie(constant('App\\Entity\\NombreVotantsSpecifique::CATEGORIE_ELECTION_ER'))}) }}  
        {% else %}
            {{ include('components/_vote.html.twig', { 'vote': electionEquipe.vote, 'nombreVotants': compteRendu.nombreVotantsPourCategorie(constant('App\\Entity\\NombreVotantsSpecifique::CATEGORIE_ELECTION_EGA'))}) }}  
        {% endif %}
    </div>
{% else %}
    <p class="fw-lighter fst-italic text-warning">Pas d'élection</p>
{% endif %}
