{% for key, item in liste_items %}
    {% if key % nombreColonnes == 0 %}
        {% if key > 0 %} 
    <div class="row mt-2"><hr class="my-0"></div><!-- ligne horizontale -->
        {% endif %}
    <div class="row"> <!-- On ouvre une nouvelle row -->
        {{ include(path_template_twig, { 'item': item}) }}
    {% else %}
        <div class="vr px-0 my-2"></div> <!-- ligne verticale -->
        {{ include(path_template_twig, { 'item': item}) }}
    {% endif %}
    {% if key == (liste_items | length - 1) %} <!-- s'il s'agit de la dernière instance-->
        <!-- On ferme la row en cours-->
    </div>
    {% elseif key % nombreColonnes == (nombreColonnes - 1) %}
    <!-- On ferme la row -->
    </div>
    {% endif %}

{% endfor %}