<div class="p-2 border bg-light rounded col text-break">
        <div class= "row">
                <span class="text-primary fw-bold text-center">{{motion.titre}}</span>
        </div>
        {{motion.contenu|raw}}
        <div class="border rounded">
                {{ include('components/_vote.html.twig', { 'vote': motion.vote, 'nombreVotants': motion.compteRendu.nombreVotantsPourCategorie(constant('App\\Entity\\NombreVotantsSpecifique::CATEGORIE_MOTIONS'))}) }}  
        </div>
        {% if motion.vote.nombreVoixFavorables > motion.compteRendu.nombreVotantsPourCategorie(constant('App\\Entity\\NombreVotantsSpecifique::CATEGORIE_MOTIONS'))/2 %}
                <div class= "p-2 row container">
                        <span class="badge rounded-pill bg-primary">Adoptée</span>
                </div>
        {% endif %}
</div>
