<div class="col text-center">
        <div class ="container vstack">
                <span class="fw-bold text-primary text-center col">{{nombreVotantsSpecifique.categorie}}</span> 
                <span class="px-3 my-2 mx-auto text-primary border bg-light rounded-pill">{{nombreVotantsSpecifique.nombreVotants}}</span>
        </div>
</div>
