    <div id="load" class="d-none text-center">
                <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Chargement...</span>
                </div>
        </div>
    <div id="rest">
        {% if formSelectionPerimetreArchive is defined %}
            {{form_start(formSelectionPerimetreArchive)}}
                <div class="form-group badge rounded-pill">
                    {{ form_widget(formSelectionPerimetreArchive.saison) }}
                </div>
                <div class="form-group badge rounded-pill">
                     {% if formSelectionPerimetreArchive.structure is defined %}
                    {{ form_widget(formSelectionPerimetreArchive.structure) }}
                    {% endif %}
                </div>
            {{form_end(formSelectionPerimetreArchive)}}
        {% endif %}
        <table class="table table-striped">
            <thead>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Nom de la SLA</div>
                </th>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Saison</div>
                </th>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">
                        {% if typeCompteRendu == constant('App\\Entity\\CompteRenduInstance::TYPE_CONGRES') %}
                            Date(s) du congrès
                        {% else %}
                            Date(s) de l'APL
                        {% endif %}
                    </div>
                </th>
                <th></th>
            </thead>
            <tbody>       
                {% for compteRenduArchive in comptesRendusArchives %}
                    <tr>
                        <td>{{compteRenduArchive.structure.nom}}</td>
                        <td>{{compteRenduArchive.saison.nom}}
                        </td>
                        <td>
                        {% if compteRenduArchive.dateInstance %}
                            {% if compteRenduArchive.dateFinInstance %}
                                Du  {{ compteRenduArchive.dateInstance|format_datetime(pattern="d/MM/y", locale='fr')}} au {{ compteRenduArchive.dateFinInstance|format_datetime(pattern="d/MM/y", locale='fr')}}
                            {% else %}
                                {{compteRenduArchive.dateInstance|format_datetime(pattern="d/MM/y", locale='fr')}}
                            {% endif %}
                        {% elseif compteRenduArchive.naPasEuLieu %}
                            <span class="fw-lighter fst-italic text-warning">
                                {% if typeCompteRendu == constant('App\\Entity\\CompteRenduInstance::TYPE_CONGRES') %}
                                    Aucun congrès n'a eu lieu
                                {% else %}
                                    Aucune APL n'a eu lieu
                                {% endif %}
                            </span>
                        {% else %}
                            <span class="fw-lighter fst-italic text-warning">Non renseigné</span>
                        {% endif %}
                        </td>
                        <td>
                        {% if compteRenduArchive.naPasEuLieu %}
                            {% if workflow_has_marked_place(compteRenduArchive, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_SAISON_PASSEE')) and is_granted(constant('App\\Security\\Voter\\StructureVoter::MODIFIER_APRES_VALIDATION'), compteRenduArchive.structure) %}
                                <a class="btn btn-outline-secondary text-dark rounded-pill" href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': compteRenduArchive.id})}}"><b>Renseigner</b></a>
                            {% endif %}
                        {% else %}
                            {% if workflow_has_marked_place(compteRenduArchive, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_SAISON_PASSEE')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), compteRenduArchive.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded-pill" href="{{path('compte_rendu_action', {'action':'consultation','compteRendu': compteRenduArchive.id})}}"><b>Voir</b></a>
                                {% endif %}
                            {% elseif workflow_has_marked_place(compteRenduArchive, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_ARCHIVE')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER_ARCHIVE'), compteRenduArchive.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded-pill" href="{{path('compte_rendu_action', {'action':'consultation','compteRendu': compteRenduArchive.id})}}"><b>Voir</b></a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        </td>
                {% else %}
                    <p>Il n'y a aucun compte rendu</p>
                {% endfor %}
            </tbody>
        </table>
    </div>

