    <div id="load" class="d-none text-center">
                <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Chargement...</span>
                </div>
        </div>
    <div id="rest">
        {% if formSelectionPerimetreAPL %}
            {{form_start(formSelectionPerimetreAPL)}}
                <div class="form-group badge rounded-pill">
                    {{ form_widget(formSelectionPerimetreAPL.structure) }}
                </div>
            {{form_end(formSelectionPerimetreAPL)}}
        {% endif %}
        <table class=" table table-striped">
            <thead>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Nom de la SLA</div>
                </th>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Date(s) de l'APL</div>
                </th>
                <th class="pb-0 px-0">
                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Etat du CR</div>
                </th>
                <th></th>
            </thead>
            <tbody>       
                {% for compteRenduAPL in comptesRendus %}
                    <tr>
                        <td>{{compteRenduAPL.structure.nom}}</td>
                        <td>
                        {% if compteRenduAPL.dateInstance %}
                            {% if compteRenduAPL.dateFinInstance %}
                                Du  {{ compteRenduAPL.dateInstance|format_datetime(pattern="d/MM/y", locale='fr')}} au {{ compteRenduAPL.dateFinInstance|format_datetime(pattern="d/MM/y", locale='fr')}}
                            {% else %}
                                {{compteRenduAPL.dateInstance|format_datetime(pattern="d/MM/y", locale='fr')}}
                            {% endif %}
                        {% elseif compteRenduAPL.naPasEuLieu %}
                            <span class="fw-lighter fst-italic text-warning">
                                Aucune APL n'a eu lieu
                            </span>
                        {% else %}
                            <span class="fw-lighter fst-italic text-warning">Non renseigné</span> 
                        {% endif %}
                        </td>
                        <td>
                            {{ include('components/status_compte_rendu.html.twig', {'compteRendu': compteRenduAPL}) }}
                        </td>
                        <td>
                            {% if workflow_has_marked_place(compteRenduAPL, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_NON_SAISI')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), compteRenduAPL.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded-pill" href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': compteRenduAPL.id})}}"><b>Saisir</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), compteRenduAPL.structure) %}
                                {% endif %}
                            {% elseif workflow_has_marked_place(compteRenduAPL, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_ATTENTE_VALIDATION')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::VALIDER'), compteRenduAPL.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded-pill" href="{{path('compte_rendu_action', {'action':'consultation','compteRendu': compteRenduAPL.id})}}"><b>Vérifier</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), compteRenduAPL.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded-pill" href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': compteRenduAPL.id})}}"><b>Modifier</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), compteRenduAPL.structure) %}                       
                                {% endif %}
                            {% elseif workflow_has_marked_place(compteRenduAPL, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_NON_VALIDE')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), compteRenduAPL.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded" href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': compteRenduAPL.id})}}"><b>Corriger</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), compteRenduAPL.structure) %}
                                {% endif %}
                            {% elseif workflow_has_marked_place(compteRenduAPL, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_VALIDE')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), compteRenduAPL.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded" href="{{path('compte_rendu_action', {'action':'consultation','compteRendu': compteRenduAPL.id})}}"><b>Voir</b></a>
                                {% endif %}
                            {% elseif workflow_has_marked_place(compteRenduAPL, constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_PAS_D_INSTANCE')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::VALIDER'), compteRenduAPL.structure) %}
                                    <a class="btn btn-outline-secondary text-dark rounded" href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': compteRenduAPL.id})}}"><b>Renseigner</b></a>
                                {% endif %}
                            {% endif %}

                        </td>
                {% else %}
                    <p>Il n'y a aucun compte rendu</p>
                {% endfor %}
            </tbody>
        </table>
    </div>

