<div class="container vstack">
        <h2>Informations personnelles</h2>
        <span class ="py-3">{{personne.affichagePourRechercheAuto}}</p>
        <div class ="py-3">
                <span class="text-primary fw-bold">Droits sur Agora</span>
                <span>
                {% if droits %}
                        <ul class="list-unstyled">
                                {% for libelle, perimetres in droits %}
                                        <!-- trigger modal -->
                                        <li>{{libelle}}
                                        {% if libelle != "Administration"  %}
                                                {% if perimetres|length > 1 %}
                                                        (<a class="" data-bs-toggle="modal" data-bs-target="#modalDroits{{libelle|replace({'\'':''})|replace({' ':''})}}">{{perimetres|length}}</a>)
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="modalDroits{{libelle|replace({'\'':''})|replace({' ':''})}}" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Périmètres de votre droit de {{libelle}}</h1>
                                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                                </div>
                                                                                <div class="modal-body ">
                                                                                        <ul class="text-start">
                                                                                                {% for perimetre in perimetres %}
                                                                                                        <li>{{perimetre}}</li>
                                                                                                {% endfor %} 
                                                                                        </ul>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                {% else %}
                                                        ({{perimetres[0]}})
                                                {% endif %}
                                        {% endif %}
                                        </li>
                                
                                {% endfor %}
                        
                        </ul>
                        {% else %}
                                <p class="fw-lighter fst-italic text-warning">Vous n'avez aucun droit</p> 
                        {% endif %}
                </span>
        </div>
        <span class =" vstack">
        {% if is_granted("ROLE_ADMIN") %}
                <a class=" mx-auto  fw-bold text-light btn rounded-pill bg-secondary " href="{{path('administration_droits_structures')}}">Déléguer des droits pour une structure</a>
                <a class="my-1 mx-auto fw-bold text-light btn rounded-pill bg-secondary " href="{{path('administration_droits_personnes')}}">Déléguer des droits à une personne</a>
        {% else %}
                {% if constant('App\\Service\\DroitsHelper::ARRAY_DROITS')[constant('App\\Security\\Voter\\StructureVoter::CONSULTER_ARCHIVE')] in droits|keys
                or constant('App\\Service\\DroitsHelper::ARRAY_DROITS')[constant('App\\Security\\Voter\\StructureVoter::SAISIR')] in droits|keys
                or constant('App\\Service\\DroitsHelper::ARRAY_DROITS')[constant('App\\Security\\Voter\\StructureVoter::VALIDER')] in droits|keys
                or constant('App\\Service\\DroitsHelper::ARRAY_DROITS')[constant('App\\Security\\Voter\\StructureVoter::MODIFIER_APRES_VALIDATION')] in droits|keys %}
                        <a class="d-block mx-auto  btn rounded-pill  fw-bold text-light bg-secondary" href="{{path('delegation_droits_non_admin')}}">Déléguer mes droits</a>
                {% endif %}
        {% endif %}
        </span>
</div>
