        <div id="load" class="d-none text-center">
                <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Chargement...</span>
                </div>
        </div>
        <div id="rest">
        {% if formSelectionStructure is defined %}
                <h2>Résumé structure</h2>
                {{form_start(formSelectionStructure)}}
                    <div class="form-group badge rounded-pill" id="selection_perimetre">
                        {{ form_widget(formSelectionStructure.structure) }}
                    </div>
                {{form_end(formSelectionStructure)}}
        {% else %}
                <h2>Ma structure</h2>
                {% if structure %}
                <div class="vstack justify-content-center py-3">
                        <span class="text-primary fw-bold">{{structure.type}}</span>
                        <span class=" ">{{structure.nom}}</span>
                </div>  
                {% endif %}
        {% endif %}
        {% if structure %}  
                
                <div class="row">
                        <div class="col">
                                <div class="vstack justify-content-center py-3">
                                        <span class="text-primary fw-bold">Organisation</span>
                                        {% set arrayOrganisationStructure = [] %}
                                        {% for fonction in structure.equipeGestion.fonctionsActives(constant('App\\Entity\\Fonction::TYPE_FONCTION_ORGANISATION')) %}
                                                {% set arrayOrganisationStructure = arrayOrganisationStructure|merge([fonction.personne.prenom ~ " " ~ fonction.personne.nom]) %}
                                        {% else %}
                                                <span class="fw-lighter fst-italic text-warning">Personne nommé</span>
                                        {% endfor %}
                                        {{ arrayOrganisationStructure | join(', ', ' et ')}}
                                </div>
                        </div>
                        <div class="col">
                                <div class=" vstack justify-content-center py-3">
                                        <span class="text-primary fw-bold">Trésorerie</span>
                                        {% set arrayTresorerieStructure = [] %}
                                        {% for fonction in structure.equipeGestion.fonctionsActives(constant('App\\Entity\\Fonction::TYPE_MISSION_TRESORERIE')) %}
                                                {% set arrayTresorerieStructure = arrayTresorerieStructure|merge([fonction.personne.prenom ~ " " ~ fonction.personne.nom]) %}
                                        {% else %}
                                                <span class="fw-lighter fst-italic text-warning">Personne nommé</span>
                                        {% endfor %} 
                                        {{ arrayTresorerieStructure | join(', ', ' et ')}}
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col">
                               <div class=" vstack justify-content-center py-3">
                                        <span class="text-primary fw-bold">Représentation</span>
                                        {% set arrayRepresentationStructure = [] %}
                                        {% for fonction in structure.equipeGestion.fonctionsActives(constant('App\\Entity\\Fonction::TYPE_MISSION_REPRESENTATION')) %}
                                                {% set arrayRepresentationStructure = arrayRepresentationStructure|merge([fonction.personne.prenom ~ " " ~ fonction.personne.nom]) %}
                                        {% else %}
                                                <span class="fw-lighter fst-italic text-warning">Personne élu</span>
                                        {% endfor %} 
                                        {{ arrayRepresentationStructure | join(', ', ' et ')}}
                                </div>
                        </div>
                        <div class="col">
                                <div class=" vstack justify-content-center py-3">
                                        <span class="text-primary fw-bold">Coordination</span>
                                        {% set arrayCoordinationStructure = [] %}
                                        {% for fonction in structure.equipeGestion.fonctionsActives(constant('App\\Entity\\Fonction::TYPE_FONCTION_COORDINATION')) %}
                                                {% set arrayCoordinationStructure = arrayCoordinationStructure|merge([fonction.personne.prenom ~ " " ~ fonction.personne.nom]) %}
                                        {% else %}
                                                <span class="fw-lighter fst-italic text-warning">Personne élu</span>
                                        {% endfor %} 
                                        {{ arrayCoordinationStructure | join(', ', ' et ')}}
                                </div>
                        </div>
                </div>
                 <div class=" vstack justify-content-center py-3">
                        <span class="text-primary fw-bold">{{structure.equipeGestion.nom}}</span>
                        <!-- trigger modal -->
                        <span>{{structure.equipeGestion.fonctionsActives | length}} (<a class="" data-bs-toggle="modal" data-bs-target="#modalEquipeGestion">?</a>)</span>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modalEquipeGestion" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Membres de {{structure.equipeGestion.nom}}</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body ">
                                                <ul class="text-start">{% for fonction in structure.equipeGestion.fonctionsActives %}<li>{{fonction.personne.prenom}} {{fonction.personne.nom}} ({{fonction.nom}}) </li>{% endfor %} </ul>
                                        </div>
                                        <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="vstack justify-content-center py-3">     
                        <span class="text-primary fw-bold">Etat du compte-rendu</span>     
                        {% for status in workflow_marked_places(structure.compteRenduInstancePourSaison(saisonCourante)) %}
                        <span>{{ constant('MAP_LABEL_PAR_STATUT_CR', structure.compteRenduInstancePourSaison(saisonCourante))[status] }}</span>
                        {% endfor %}
                        {% if workflow_has_marked_place(structure.compteRenduInstancePourSaison(saisonCourante), constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_NON_SAISI')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), structure) %}
                                        <a class="d-block mx-auto btn btn-secondary text-light rounded-pill" href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': structure.compteRenduInstancePourSaison(saisonCourante).id})}}"><b>Saisir</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), structure) %}
                                {% endif %}
                        {% elseif workflow_has_marked_place(structure.compteRenduInstancePourSaison(saisonCourante), constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_ATTENTE_VALIDATION')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::VALIDER'), structure) %}
                                        <a class="d-block mx-auto btn btn-secondary text-light rounded-pill" href="{{path('compte_rendu_action', {'action':'consultation','compteRendu': structure.compteRenduInstancePourSaison(saisonCourante).id})}}"><b>Vérifier</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), structure) %}
                                        <a class="d-block mx-auto btn btn-secondary text-light rounded-pill" href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': structure.compteRenduInstancePourSaison(saisonCourante).id})}}"><b>Modifier</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), structure) %}                       
                                {% endif %}
                        {% elseif workflow_has_marked_place(structure.compteRenduInstancePourSaison(saisonCourante), constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_PAS_D_INSTANCE')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::VALIDER'), structure) %}
                                        <a class="d-block mx-auto btn btn-secondary rounded-pill text-light " href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': structure.compteRenduInstancePourSaison(saisonCourante).id})}}"><b>Renseigner</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), structure) %}
                                {% endif %}
                        {% elseif workflow_has_marked_place(structure.compteRenduInstancePourSaison(saisonCourante), constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_NON_VALIDE')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::SAISIR'), structure) %}
                                        <a class="d-block mx-auto btn btn-secondary rounded-pill text-light " href="{{path('compte_rendu_action', {'action':'saisie','compteRendu': structure.compteRenduInstancePourSaison(saisonCourante).id})}}"><b>Corriger</b></a>
                                {% elseif is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), structure) %}
                                {% endif %}
                        {% elseif workflow_has_marked_place(structure.compteRenduInstancePourSaison(saisonCourante), constant('App\\Entity\\CompteRenduInstance::STATUT_CR_INSTANCE_VALIDE')) %}
                                {% if is_granted(constant('App\\Security\\Voter\\StructureVoter::CONSULTER'), structure) %}
                                        <a class="d-block mx-auto btn btn-secondary rounded-pill text-light " href="{{path('compte_rendu_action', {'action':'consultation','compteRendu': structure.compteRenduInstancePourSaison(saisonCourante).id})}}"><b>Voir</b></a>
                                {% endif %}
                        {% endif %}
                </div>
        {% endif %}
        </div>
