<div class="my-1 p-1 border bg-light ">
    <div class="row p-1">
        <div class="col">
            Personne élue
        </div>
        <div class="col mx-2 text-primary border bg-light rounded-pill">{{role.personne.prenom}} {{role.personne.nom}}   
        </div>
    </div>
    <div class="row p-1">
        <div class="col">
            Mission
        </div>
        
            {% if role.fonctionSpecifique %}
                <div class="col mx-2 text-primary border bg-light rounded-pill">
                    {{role.fonctionSpecifique}}
                </div>
            {% else %}
                <div class="col">
                    <span class="fw-lighter fst-italic text-warning">Non renseigné</span> 
                </div>
            {% endif %}
        
    </div>
</div>