<div class="p-2 border bg-light rounded col text-break">
        <div class= "row">
                <span class="text-primary fw-bold text-center">{{voeu.titre}}</span>
        </div>
        {{voeu.contenu|raw}}
        <div class="border rounded">
                {{ include('components/_vote.html.twig', { 'vote': voeu.vote, 'nombreVotants': voeu.compteRendu.nombreVotantsPourCategorie(constant('App\\Entity\\NombreVotantsSpecifique::CATEGORIE_VOEUX'))}) }}  
        </div>
        {% if voeu.vote.nombreVoixFavorables > voeu.compteRendu.nombreVotantsPourCategorie(constant('App\\Entity\\NombreVotantsSpecifique::CATEGORIE_VOEUX'))/2 %}
                <div class= "p-2 row container">
                        <span class="badge rounded-pill bg-primary">Adopté</span>
                </div>
        {% endif %}
        
</div>
