
        <div class="row mx-2">
                <span class="col"> Favorables </span>
                <div class="col" >
                        <span class=" px-3 text-primary border bg-light rounded-pill">{{vote.nombreVoixFavorables}}</span>
                </div>
        </div>
