
        {% if vote %}
                <div class="my-2 row mx-auto text-center">
                        <div class="col-3">
                                <div class="row align-items-center">
                                        <div class="col-6 ">
                                                Pour
                                        </div>
                                        <div class="col-6 ">
                                                <span class="px-3 text-primary border bg-light rounded-pill">{{vote.nombreVoixFavorables}}</span>
                                        </div>
                                </div>
                        </div>
                        <div class="col-3">
                                <div class="row align-items-center">
                                        <div class="col-7 fw-normal">
                                                Contre
                                        </div>
                                        <div class="col-5 defavorables" >
                                                <span class="px-3 text-primary border bg-light rounded-pill">{{vote.nombreVoixDefavorables}}</span>
                                        </div>
                                </div>
                        </div>
                        <div class="col-3">
                                <div class="row align-items-center">
                                        <div class="col-7 fw-normal">
                                                Blancs
                                        </div>
                                        <div class="col-5 blancs" >
                                                <span class="px-3 text-primary border bg-light rounded-pill">{{vote.nombreVoixBlancs}}</span>
                                        </div>
                                </div>
                        </div>
                        <div class="col-3 px-0">
                                <div class="align-items-center row">
                                        <div class="col-8">
                                                Abstention
                                        </div>
                                        <div class="col-4" >
                                                <span class="px-3 text-primary border bg-light rounded-pill">{{nombreVotants - (vote.nombreVoixDefavorables + vote.nombreVoixFavorables + vote.nombreVoixBlancs)}}</span>
                                        </div>
                                </div>
                        </div>
                </div>
        {% else %}
                <span class="d-block fw-lighter fst-italic text-warning">Pas de vote</span>
        {% endif %}

