    <div class="container-fluid">
        <div class="row bg-light">
            <a class="navbar-brand col d-flex flex-row align-items-center p-2" href="{{path('accueil_non_connecte')}}">
                <img src="{{ asset('images/logo-eedf-couleur.svg') }}" class="img-fluid" alt="Responsive image">
                <div class=" d-flex justify-content-evenly">
                    <img src="{{ asset('images/titre_agora.svg') }}"  style="height: 45px;"class="img-fluid" alt="Responsive image">
                </div>
            </a>
            <div class="col d-flex flex-row-reverse align-items-center">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="fs-5"  id="gestion_perimetre" data-reload={{path('redirectPerimetre')}}>
                    {% if app.session.get('perimetre') %}
                        {{ render(controller('App\\Controller\\AgoraController::selectionPerimetreNavbar', {request: app.request})) }}
                    {% endif %}
                </div>
                <div class=" fs-5 ">
                    <a class="btn rounded-pill bg-light text-secondary border border-secondary" href="{{ path('app_logout') }}">{{ app.user.prenom }} {{ app.user.nom}}</a>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid bg-primary text-white mb-5 py-3">
    </div>
    <nav class="navbar navbar-expand navbar-light ">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  d-flex border-dark border-bottom" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                {% if app.session.get('perimetre') %}
                    {% set typePerimetre = app.session.get('type_perimetre') %}
                    <li class="nav-item border mx-2 border-dark border-bottom-0" >
                        <a class="nav-link fw-bold" href="{{path('notifications')}}">
                        {% if app.user.notificationsNonLues %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" fill="#EF7D2C" class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="7"/>
                            <text font-family="system-ui" font-size="9" font-weight="100"  text-anchor="middle" x="50%" y="55%" stroke="#FFFF" alignment-baseline="middle">{{ app.user.nombreNotificationsNonLues }}</text>
                        </svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" stroke="#EF7D2C" fill="#FFFF" class="bi bi-circle" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="7"/>
                            <text font-family="system-ui" font-size="9" font-weight="100"  text-anchor="middle" x="50%" y="55%" stroke="#EF7D2C" alignment-baseline="middle">0</text>
                        </svg>
                        {% endif %}<span class="mx-1">Notifications</span></a>
                    </li>
                    {% if typePerimetre == constant('App\\Entity\\Personne::TYPE_PERIMETRE_ADMIN') %}
                        <li class="nav-item border mx-2 border-dark border-bottom-0 dropdown">
                            <a class="nav-link fw-bold dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ include('components/icones/icone_gestion_admin.svg') }}<span class="mx-1">Gestion</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{path('administration_delegues_suppleants_ag')}}">Délégué·es et Suppléant·es à l'AG</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{path('administration_responsabilite_sla')}}">Niveau de responsabilité SLA</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{path('administration_fin_fonction')}}">Fins de missions</a>
                                </li>    
                            </ul>
                        </li>
                        <li class="nav-item border mx-2 border-dark border-bottom-0 dropdown">
                            <a class="nav-link fw-bold dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ include('components/icones/icone_gestion_droits_fins.svg') }}<span class="mx-1">Droits</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{path('administration_droits_admin')}}">Droits d'administration</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{path('administration_droits_personnes')}}">Droits personne</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{path('administration_droits_structures')}}">Droits structure</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if typePerimetre != constant('App\\Entity\\Personne::TYPE_PERIMETRE_REGION') %}
                        <li class="nav-item border mx-2 border-dark border-bottom-0">
                            {% if typePerimetre == constant('App\\Entity\\Personne::TYPE_PERIMETRE_ADMIN') %}
                                <a class="nav-link fw-bold" href="{{path('gestion_apl_sla')}}">
                                    {{ include('components/icones/icone_apl.svg') }}<span class="mx-1">APL</span>
                                </a>
                            {% elseif typePerimetre == constant('App\\Entity\\Personne::TYPE_PERIMETRE_NATIONAL') %}
                                <a class="nav-link fw-bold" href="{{path('gestion_apl_sla')}}">
                                    {{ include('components/icones/icone_apl.svg') }}<span class="mx-1">APL</span>
                                </a>
                            {% elseif typePerimetre == constant('App\\Entity\\Personne::TYPE_PERIMETRE_SLA') %}
                                <a class="nav-link fw-bold" href="{{path('gestion_apl_sla')}}">
                                    {{ include('components/icones/icone_apl.svg') }}<span class="mx-1">Mon APL</span>
                                </a>
                            {% elseif typePerimetre == constant('App\\Entity\\Personne::TYPE_PERIMETRE_SLAN') %}
                                <a class="nav-link fw-bold" href="{{path('gestion_apl_sla')}}">
                                    {{ include('components/icones/icone_apl.svg') }}<span class="mx-1">Mon APL</span>
                                </a>
                            {% endif %}
                        </li>
                        <li class="nav-item border mx-2 border-dark border-bottom-0">
                            <a class="nav-link fw-bold" href="{{path('gestion_congres_region')}}">
                            {{ include('components/icones/icone_congres.svg') }} <span class="mx-1">Congrès</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item border mx-2 border-dark border-bottom-0 dropdown">
                            <a class="nav-link fw-bold dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ include('components/icones/icone_gestion_droits_fins.svg') }}<span class="mx-1">Ma région</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item"  href="{{path('gestion_apl_sla')}}">APL de ma région</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"  href="{{path('gestion_congres_region')}}">Mon congrès</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{path('region_delegation_ag')}}">Délégation AG</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item border mx-2 border-dark border-bottom-0">
                        <a class="nav-link fw-bold" href="{{path('gestion_apl_slan')}}">{{ include('components/icones/icone_structures_nationales.svg') }}<span class="mx-1">Structures nationales</span></a>
                    </li>
                    <li class="nav-item border mx-2 border-dark border-bottom-0 dropdown">
                        <a class="nav-link fw-bold dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ include('components/icones/icone_archives.svg') }}<span class="mx-1">Archives</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{{path('archives_apl_sla')}}">APL</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{path('archives_congres_region')}}">Congrès</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{path('archives_apl_slan')}}">Structures Nationales</a>
                            </li>
                        </ul>
                    </li>
                    {% if typePerimetre == constant('App\\Entity\\Personne::TYPE_PERIMETRE_ADMIN') %}
                        <li class="nav-item border bg-light mx-2 border-dark border-bottom-0">
                            <a class="nav-link fw-bold" href="{{path('administration_documents_ressources')}}"> 
                                {{ include('components/icones/icone_ressources.svg') }}<span class="mx-1">Ressources</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item border mx-2 border-dark border-bottom-0 dropdown">
                            <a class="nav-link bg-light fw-bold dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ include('components/icones/icone_ressources.svg') }}<span class="mx-1">Ressources</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{path('ressources_apl')}}">APL</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{path('ressources_congres')}}">Congrès</a>
                                </li>
                            </ul>
                        </li>
                     {% endif %}
                {% endif %}
            </ul>
            </div>
            
            
        </div>
    </div>
</nav>