{% for status in workflow_marked_places(compteRendu) %}
    <div class="btn fw-bold text-light rounded-pill" {% if status == constant('STATUT_CR_INSTANCE_NON_SAISI', compteRendu) %}
            style="pointer-events: none; background-color:#EF7D2C"
        {% elseif status == constant('STATUT_CR_INSTANCE_ATTENTE_VALIDATION', compteRendu) %}
            style="pointer-events: none; background-color:#00A3A8"
        {% elseif status == constant('STATUT_CR_INSTANCE_NON_VALIDE', compteRendu) %}
            style="pointer-events: none; background-color:#AC0017"
        {% elseif status == constant('STATUT_CR_INSTANCE_VALIDE', compteRendu) %}
             style="pointer-events: none; background-color:#93B200"
        {% elseif status == constant('STATUT_CR_INSTANCE_SAISON_PASSEE', compteRendu) %}
            style="pointer-events: none; background-color:#89bb23"
        {% elseif status == constant('STATUT_CR_INSTANCE_ARCHIVE', compteRendu) %}
             style="pointer-events: none; background-color:#AE28CA"
        {% else %}
             style="pointer-events: none; background-color:#000000"
        {% endif %}
    >
        {{ constant('MAP_LABEL_PAR_STATUT_CR', compteRendu)[status] }}
    </div>
{% endfor %}


