{% extends 'base.html.twig' %}

{% block title %}Gestion des documents ressources{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5"><h1>Gestion des documents ressources</h1></div>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message | raw }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message | raw }}
        </div>
    {% endfor %}
    <div class="">
        {{form_start(form_documents_ressources)}}
            <table class=" table table-striped align-middle">
                <thead>
                    <th class="pb-0 px-0">
                        <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Titre</div>
                    </th>
                    <th class="pb-0 px-0">
                        <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Type de ressource</div>
                    </th>
                    <th class="pb-0 px-0">
                        <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Contenu</div>
                    </th>
                </thead>
                <tbody>       
                    {% for document in form_documents_ressources.documents %}
                        <tr class="doc_ressource">
                            <td class="col-6 text-center">{{form_widget(document.titre)}} 
                                <span class="text-primary fw-bold">
                                {% if document.vars.value.categorie == constant('App\\Entity\\DocumentRessource::CATEGORIE_APL') %}
                                Page APL
                                {% else %}
                                Page Congrès
                                {% endif %}
                                </span></td>
                            <td class="col-2 type">{{form_widget(document.typeDocument)}}</td>
                            <td>
                                <div class="lien">{{form_row(document.lien)}}</div>
                                <div class="document">{{form_widget(document.document)}}</div>
                            </td>
                    {% else %}
                        <p>Il n'y a aucun compte rendu</p>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col d-flex flex-row-reverse align-items-center">
                {{form_row(form_documents_ressources.save)}}    
            </div>
        {{form_end(form_documents_ressources)}}
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        $( "tr.doc_ressource" ).each(function( index ) {
            console.log($( this ))
            var $bloc_type_doc=$( this ).find(".type");
            var $bloc_select_fichier=$( this ).find(".document");
            var $bloc_input_lien=$( this ).find(".lien");
            gestionSelectionTypeDocument($bloc_type_doc, $bloc_select_fichier, $bloc_input_lien)
        });

        function gestionSelectionTypeDocument($bloc_type_doc, $bloc_select_fichier, $bloc_input_lien)
        {

            var $input_lien=$bloc_input_lien.find('input');
            var $select_fichier=$bloc_select_fichier.find('vich-file');

            $bloc_type_doc.find('[type="radio"]').change(function () 
            {
                if ($(this).val() == "{{ constant('App\\Entity\\DocumentRessource::TYPE_DOCUMENT_FICHIER') }}")
                {
                    $bloc_select_fichier.show(); 
                    $select_fichier.prop('disabled', false); 
                    $bloc_input_lien.hide(); 
                    $input_lien.prop('disabled', true); 
                } else {
                    $bloc_select_fichier.hide(); 
                    $select_fichier.prop('disabled', true); 
                    $bloc_input_lien.show(); 
                    $input_lien.prop('disabled', false); 
                }
            })

            if ($bloc_type_doc.find('[type="radio"]:checked').val() == "{{ constant('App\\Entity\\DocumentRessource::TYPE_DOCUMENT_FICHIER') }}")
            {
                $bloc_select_fichier.show(); 
                $select_fichier.prop('disabled', false); 
                $bloc_input_lien.hide(); 
                $input_lien.prop('disabled', true); 
            } else {
                $bloc_select_fichier.hide(); 
                $select_fichier.prop('disabled', true); 
                $bloc_input_lien.show(); 
                $input_lien.prop('disabled', false); 
            }
        }
    </script>
{% endblock %}