{% extends 'base.html.twig' %}

{% block title %}Gestion des droits d'administration{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5"><h1>Gestion des droits d'administration</h1></div>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message | raw }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message | raw }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message | raw }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Liste des administrat·eur·rice·s</h6>
                    <div class="contenu-section">
                        <table class=" table table-striped">
                            <thead>
                                <th class="pb-0 px-0  bg-info" >
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Prénom</div>
                                </th>
                                <th class="pb-0 px-0  bg-info">
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Nom</div>
                                </th>
                                <th class="pb-0 px-0  bg-info"></th>
                            </thead>
                            <tbody>       
                                {% for admin in admins %}
                                    <tr>
                                        <td>{{ admin.prenom }}</td>
                                        <td>{{ admin.nom }}</td>
                                        <td>
                                            <a class="btn btn-outline-secondary text-dark rounded" href="{{path('administration_supprimer_admin', {'personne': admin.id})}}">Supprimer</a>
                                        </td>
                                    </th>
                                {% else %}
                                    <p>Il n'y a aucun·e administrat·eur·rice</p>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Ajouter un·e nouvel·le administrat·eur·rice</h6>
                    <div class="contenu-section">
                        {{form_start(formAjoutAdministrateur)}}
                            {{form_row(formAjoutAdministrateur.personne)}}
                            <div class="col d-flex flex-row-reverse align-items-center">
                            {{form_widget(formAjoutAdministrateur.save)}}
                            </div>
                        {{form_end(formAjoutAdministrateur)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

