{% extends 'base.html.twig' %}

{% block title %}Terminer une mission{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5"><h1>Terminer une mission</h1></div>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message | raw }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message | raw }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message | raw }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Terminer un mandat électif</h6>
                    
                     <div class="contenu-section" >
                        <div id="fin_mandat_electif">
                            <div id="load" class="d-none text-center">
                                <div class="spinner-border text-primary" role="status">
                                        <span class="visually-hidden">Chargement...</span>
                                </div>
                            </div>
                            <div id="rest">
                            {{form_start(formFinFonction)}}
                                {{form_row(formFinFonction.personne)}}
                                {{form_row(formFinFonction.mandatElectif)}}
                                {{form_row(formFinFonction.dateFinMandat)}}
                                <div class="col d-flex flex-row-reverse align-items-center">
                                    {{form_row(formFinFonction.save)}}
                                </div>
                            {{form_end(formFinFonction)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

