{% extends 'base.html.twig' %}

{% block title %}Gestion des niveaux de responsabilité des SLA{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5"><h1>Gestion des niveaux de responsabilité des SLA</h1></div>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message | raw }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message | raw }}
        </div>
    {% endfor %}
        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">SLA de responsabilité régionale</h6>
                    <div class="contenu-section" >
                        <table class=" table table-striped">
                            <thead>
                                <th class="pb-0 px-0">
                                    <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Nom de la structure</div>
                                </th>
                                <th class="pb-0 px-0">
                                </th>
                            </thead>
                            <tbody>    
                                {% for sla in slaResonsabiliteRegionale %}
                                    <tr>
                                        <td>{{sla.nom}}</td>
                                        <td>
                                            <a class="btn btn-outline-secondary text-dark rounded" href="{{path('administration_supprimer_responsabilite_regionale', {'structure': sla.id})}}">Supprimer</a>
                                        </td>
                                {% else %}
                                    <tr><td>Il n'y a aucune SLA de responsabilité regionale pour le moment.</td></tr>
                                {% endfor %}   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
                <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Ajouter une SLA de responsabilité régionale</h6>
                    <div class="contenu-section" >
                        {{form_start(form_definition_responsabilite_regionale_sla)}}
                        {{form_end(form_definition_responsabilite_regionale_sla)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3">
            <div class="row">
                <div class="col me-3">
                    <h6 class="titre-section">Affectations des structures nationales aux régions</h6>
                    <div class="contenu-section" >
                        {{form_start(form_affectation_slans)}}
                            <table class=" table table-striped">
                                <thead>
                                    <th class="pb-0 px-0">
                                        <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Nom de la structure</div>
                                    </th>
                                    <th class="pb-0 px-0">
                                        <div class="p-2 d-inline-block rounded-top border border-bottom-0 border-secondary text-center">Région affectée</div>
                                    </th>
                                </thead>
                                <tbody>       
                                    {% for slan in form_affectation_slans.slans %}
                                        <tr>
                                            <td>{{form_label(slan.structureRegionaleAffiliee)}}</td>
                                            <td>{{form_widget(slan.structureRegionaleAffiliee)}}</td>
                                    {% else %}
                                        <p>Il n'y a aucune SLAN</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="col d-flex flex-row-reverse align-items-center">
                                {{form_row(form_affectation_slans.save)}}    
                            </div>
                        {{form_end(form_affectation_slans)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

