<p>Suite à la fin de votre mission de <b>{{fonction.nom}}</b> dans la structure <b>{{fonction.equipe.structure.nom}}</b>, le droit de <b>{{ constant('App\\Service\\DroitsHelper::ARRAY_DROITS')[droit.droit] }}</b> vous a été retiré pour la structure <b>{{droit.structure.nom}}</b>.</p>
