<p>
{% if compteRendu.type in [constant("App\\Entity\\CompteRenduInstance::TYPE_APL_SLA"), constant("App\\Entity\\CompteRenduInstance::TYPE_APL_SLAN")]%}
    Le compte-rendu d’APL de <b>{{compteRendu.structure.nom}}</b> a été validé.
{% else %}
    Le compte-rendu de congrès de <b>{{compteRendu.structure.nom}}</b> a été validé.
{% endif %}
<!-- DEBUT ADAPTATION PRE REFORME AG 2024 -->
<!-- Responsable -->
{% set electionNominativeResponsable = null %}
{% for electionNominative in compteRendu.electionsNominatives|filter(electionNominative => electionNominative.poste in [constant("App\\Entity\\ElectionNominative::POSTE_RESLA"), constant("App\\Entity\\ElectionNominative::POSTE_RR")]) %}
    {% set electionNominativeResponsable = electionNominative %}
{% endfor %}
{% if electionNominativeResponsable is not null %}
    {% if electionNominativeResponsable.status == constant("App\\Entity\\ElectionNominative::STATUS_VALIDE") %}
        <b>{{electionNominativeResponsable.personne.prenom}} {{electionNominativeResponsable.personne.nom}}</b> a été nommé·e responsable.
    {% elseif electionNominativeResponsable.status == constant("App\\Entity\\ElectionNominative::STATUS_REFUSE") %}
        La nomination de <b>{{electionNominativeResponsable.personne.prenom}} {{electionNominativeResponsable.personne.nom}}</b> comme responsable n’a pas été acceptée.
    {% else %}
    {% endif %}
{% endif %}
<!-- Trésorier·e -->
{% set electionNominativeTresorier = null %}
{% for electionNominative in compteRendu.electionsNominatives|filter(electionNominative => (electionNominative.poste) in [constant("App\\Entity\\ElectionNominative::POSTE_TSLA"), constant("App\\Entity\\ElectionNominative::POSTE_TR")]) %}
    {% set electionNominativeTresorier = electionNominative %}
{% endfor %}
{% if electionNominativeTresorier is not null %}
    {% if electionNominativeTresorier.status == constant("App\\Entity\\ElectionNominative::STATUS_VALIDE") %}
        <b>{{electionNominativeTresorier.personne.prenom}} {{electionNominativeTresorier.personne.nom}}</b> a été nommé·e trésorier·e.
    {% elseif electionNominativeTresorier.status == constant("App\\Entity\\ElectionNominative::STATUS_REFUSE") %}
        <b>La nomination de {{electionNominativeTresorier.personne.prenom}} {{electionNominativeTresorier.personne.nom}}</b> comme trésorier·e n’a pas été acceptée.
    {% else %}
    {% endif %}
{% endif %}
<!-- FIN PRE REFORME AG 2024 -->
<!-- Organisation -->
{% set electionNominativeOrganisation = null %}
{% for electionNominative in compteRendu.electionsNominatives|filter(electionNominative => electionNominative.poste in [constant("App\\Entity\\ElectionNominative::POSTE_ORGANISATION_SLA"), constant("App\\Entity\\ElectionNominative::POSTE_ORGANISATION_REGION")]) %}
    {% set electionNominativeOrganisation = electionNominative %}
{% endfor %}
{% if electionNominativeOrganisation is not null %}
    {% if electionNominativeOrganisation.status == constant("App\\Entity\\ElectionNominative::STATUS_VALIDE") %}
        La nomination de <b>{{electionNominativeOrganisation.personne.prenom}} {{electionNominativeOrganisation.personne.nom}}</b> à la mission d'organisation a été acceptée.
    {% elseif electionNominativeOrganisation.status == constant("App\\Entity\\ElectionNominative::STATUS_REFUSE") %}
        La nomination de <b>{{electionNominativeOrganisation.personne.prenom}} {{electionNominativeOrganisation.personne.nom}}</b> à la mission d'organisation n’a pas été acceptée.
    {% else %}
    {% endif %}
{% endif %}
<!-- Trésorerie -->
{% set electionNominativeTresorerie = null %}
{% for electionNominative in compteRendu.electionsNominatives|filter(electionNominative => (electionNominative.poste) in [constant("App\\Entity\\ElectionNominative::POSTE_TRESORERIE_SLA"), constant("App\\Entity\\ElectionNominative::POSTE_TRESORERIE_REGION")]) %}
    {% set electionNominativeTresorerie = electionNominative %}
{% endfor %}
{% if electionNominativeTresorerie is not null %}
    {% if electionNominativeTresorerie.status == constant("App\\Entity\\ElectionNominative::STATUS_VALIDE") %}
        La nomination de <b>{{electionNominativeTresorerie.personne.prenom}} {{electionNominativeTresorerie.personne.nom}}</b> à la mission de trésorerie a été acceptée.
    {% elseif electionNominativeTresorerie.status == constant("App\\Entity\\ElectionNominative::STATUS_REFUSE") %}
        La nomination de <b>{{electionNominativeTresorerie.personne.prenom}} {{electionNominativeTresorerie.personne.nom}}</b> à la mission de trésorerie n’a pas été acceptée.
    {% else %}
    {% endif %}
{% endif %}
<!-- Autonomie structure -->
{% if compteRendu.autonomieStructure == constant("App\\Entity\\Structure::STATUT_STRUCTURE_AUTONOME") %}
    L’autonomie de la structure a été validée.
{% elseif compteRendu.autonomieStructure == constant("App\\Entity\\Structure::STATUT_STRUCTURE_RATTACHEE") %}
    L’autonomie de la structure n’a pas été validée, celle-ci est donc <b>rattachée</b>.
{% else %}
{% endif %}
</p>
