<p>
{% if compteRendu.type in [constant("App\\Entity\\CompteRenduInstance::TYPE_APL_SLA"), constant("App\\Entity\\CompteRenduInstance::TYPE_APL_SLAN")]%}
    Le compte rendu d’APL de <b>{{compteRendu.structure.nom}}</b> a été saisi par <b>{{compteRendu.dernierePersonneSoummetteur.prenom}} {{compteRendu.dernierePersonneSoummetteur.nom}}</b>.
{% else %}
    Le compte rendu de congrès de <b>{{compteRendu.structure.nom}}</b> a été saisi par <b>{{compteRendu.dernierePersonneSoummetteur.prenom}} {{compteRendu.dernierePersonneSoummetteur.nom}}</b>.
{% endif %}
Votre validation est désormais nécessaire.</p>

