<p>
{% if compteRendu.type in [constant("App\\Entity\\CompteRenduInstance::TYPE_APL_SLA"), constant("App\\Entity\\CompteRenduInstance::TYPE_APL_SLAN")]%}
    Le compte rendu d’APL de <b>{{compteRendu.structure.nom}}</b> n’a pas été validé par <b>{{compteRendu.personneValideuse.prenom}} {{compteRendu.personneValideuse.nom}}</b>.
{% else %}
    Le compte rendu de congrès de <b>{{compteRendu.structure.nom}}</b> n’a pas été validé par <b>{{compteRendu.personneValideuse.prenom}} {{compteRendu.personneValideuse.nom}}</b>.
{% endif %}
En voici les raisons :
<div>
    {{compteRendu.commentaireInvalidation|raw}}
</div>
Apportez des modifications avant de redemander la validation.</p>

