<p>Votre mandat dans la mission <b>{{attributionFonctionElective.nom}}</b> a été raccourci en prenant fin le <b>{{attributionFonctionElective.dateFin|format_datetime(pattern="d/MM/y", locale='fr')}}</b>, les droits associés à cette mission ne seront donc plus actifs à partir de cette date.</p>