<p>Le droit de <b>{{ constant('App\\Service\\DroitsHelper::ARRAY_DROITS')[droit.droit] }}</b> pour la structure <b>{{droit.structure.nom}}</b> que vous aviez par délégation est arrivé à expiration.</p>