{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée (erreur 404)</h1>

    <p> La page n'existe pas, vérifiez l'URL ou <a href="{{ path('accueil_non_connecte') }}">retournez à l'accueil</a>.</p>
{% endblock %}