{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
{% block headerbody %}
    <h1>Accès refusé</h1>
{% endblock %}
{% block body %}
    <div class="border rounded border-primary p-3 my-1">
        <p>
        Vous n'avez pas les droits nécessaires pour accéder à cette page.
        </p>
        <a class= "btn btn-primary" href="{{ path('accueil_non_connecte') }}">Retour à l'accueil</a>.
        
    </div>
{% endblock %}
