{% extends 'base.html.twig' %}

{% block title %}Compte-rendu indisponible{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5">
        <h1>Compte-rendu indisponible</h1>
        <div class="alert alert-warning text-center">
            <p>Aucun compte-rendu n’a été validé pour cette structure cette année ou l’année dernière.</p>
        </div>
</div>
{% endblock %}

