{% extends 'base.html.twig' %}

{% block title %}Invalider le compte-rendu de l'APL {{compteRendu.saison.nom}} de {{compteRendu.structure.nom}}{% endblock %}

{% block body %}
<div class="container">
    <div class="my-5">
        <h1>Invalider le compte-rendu de l'APL {{compteRendu.saison.nom}} de {{compteRendu.structure.nom}}</h1>
    </div>
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message | raw }}
        </div>
    {% endfor %}
    <div class="">
        {{form_start(form_invalidation_cr)}}
            <div class="my-3">
                <div class="contenu-section d-flex flex-row align-items-center flex-wrap">
                    <div class="p-1  container col">
                        <div class ="py-2">
                            {{ form_label(form_invalidation_cr.commentaireInvalidation)}} 
                            {{ form_errors(form_invalidation_cr.commentaireInvalidation)}} 
                            {{ form_help(form_invalidation_cr.commentaireInvalidation)}} 
                            {{ form_widget(form_invalidation_cr.commentaireInvalidation)}}      
                        </div>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-row-reverse align-items-center">
                {{form_row(form_invalidation_cr.save)}}    
            </div>
        {{form_end(form_invalidation_cr)}}
    </div>
</div>
{% endblock %}

